<div class="page-content about-page">
	<div class="header-image-md">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<section class="client-section">
				<h2>Our Clients</h2>
				<div class="quote-container">
					<div class="quote">
						<div class="quote-mark first"><img src="/images/quotes.svg"></div>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent viverra enim vel lorem fermentum, ac interdum nisl feugiat. Nulla cursus arcu in urna viverra ullamcorper. Aenean aliquam dictum quam, consequat viverra mi tincidunt nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.<img class="quote-mark end" src="/images/quotes.svg"></p>
					</div>
					<div class="client-info">
						<div class="client-name"><span class="mdash">&mdash;</span>Jane Smith</div>
						<div class="client-company">Title, Sample Company</div>
					</div>
					<div class="controls">
						<div class="arrow-left"><img src="/images/arrow-left-orange.svg"></div>
						<div class="dot"></div>
						<div class="dot active"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="dot"></div>
						<div class="arrow-right"><img src="/images/arrow-right-orange.svg"></div>
					</div>
				</div>
				<div class="logo-container">
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
				</div>
			</section>
			<section class="executive-team-section team-section">
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name">Susan Linman</div>
						<div class="team-title">President</div>
					</div>
				</div>
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name">Mairi Burns</div>
						<div class="team-title">VP of Client Services</div>
					</div>
				</div>
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name">Chris Carson</div>
						<div class="team-title">Director of Teleservices</div>
					</div>
				</div>
			</section>
			<section class="team-section">
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name"></div>
						<div class="team-title"></div>
					</div>
				</div>
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name"></div>
						<div class="team-title"></div>
					</div>
				</div>
				<div class="team-member">
					<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
					<div class="team-info">
						<div class="team-name"></div>
						<div class="team-title"></div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>