<div class="page-content about-page">
	<div class="header-image-md">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">About Us</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<section class="client-section">
				<h2>Our Clients</h2>
				<div class="quote-container">
					<div class="quote">
						<div class="quote-mark first"><img src="/images/quotes.svg"></div>
						<p><span class="quoteText">Donec nec nunc aliquam, aliquet erat ut, hendrerit ipsum. Suspendisse at mi commodo dui porta malesuada eget at est. Donec eget ullamcorper velit, vel aliquam tellus.</span><img class="quote-mark end" src="/images/quotes.svg"></p>
					</div>
					<div class="client-info">
						<div class="client-name"><span class="mdash">&mdash;</span><span id="client-name">Jane Smith</span></div>
						<div class="client-company" id="client-company">Title, Sample Company</div>
					</div>
					<div class="controls">
						<div class="arrow-left arrow" onclick="controlClick(-1)"><img src="/images/arrow-left-orange.svg"></div>
						<div class="dot active" id="dot0"></div>
						<div class="dot" id="dot1"></div>
						<div class="dot" id="dot2"></div>
						<div class="dot" id="dot3"></div>
						<div class="dot" id="dot4"></div>
						<div class="arrow-right arrow" onclick="controlClick(1)"><img src="/images/arrow-right-orange.svg"></div>
					</div>
				</div>
				<div class="logo-container">
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
					<div class="client-logo"><img src="http://via.placeholder.com/100x100"></div>
				</div>
			</section>
		</div>
		<section class="body-content team-section">
			<div class="executive-team">
				<div class="executive-team-container container">
					<h2>Our Team</h2>
					<div class="team-member-holder executive">
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Susan Linman</div>
								<div class="team-title">President</div>
							</div>
						</div>
						<div class="divider" id="divider1"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Mairi Burns</div>
								<div class="team-title">VP of Client Services</div>
							</div>
						</div>
						<div class="divider" id="divider2"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Chris Carson</div>
								<div class="team-title">Director of Teleservices</div>
							</div>
						</div>
						<div class="divider" id="divider3"></div>
					</div>
				</div>
			</div>
			<div class="team">
				<div class="team-container container">
					<div class="team-member-holder">
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider4"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider5"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider6"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider7"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider8"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider9"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider10"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider11"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider12"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider13"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider14"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider15"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider16"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider17"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider18"></div>
						<div class="team-member">
							<div class="team-photo"><img src="http://via.placeholder.com/150x100"></div>
							<div class="team-info">
								<div class="team-name">Team Member</div>
								<div class="team-title">Title</div>
							</div>
						</div>
						<div class="divider" id="divider19"></div>
					</div>
				</div>
			</div>
		</section>
		<section class="building-section container body-content">
			<h2>Building History</h2>
			<div class="building-history">
				<div class="history-text">
					<p>
						In the early twentieth century Sellwood's significance in Portland's transportation system was marked by the construction of new railroad buildings. In 1910 the railroad built a car barn facility and the Carmen's Clubhouse at 8825 SE 11th Avenue. The Carmen's Clubhouse remains today as the only surviving electric railroad company building in the Portland area.
					</p>
					<p>
						The Clubhouse was used for multiple purposes. The first floor had offices for the train dispatcher and trainmaster, record storage and lost and found for passengers' goods left on the trains. On this floor were also three shower-bath rooms and one bathroom. The second floor was the real "clubhouse," which offered amenities to Portland Railway Light and Power's conductors and motormen, collectively known as carmen. It contained a reading room, pool and gin rummy tables, three billiard tables, and several emergency sleeping rooms. The clubhouse was designed to keep employees content, deter them from frequenting saloons and forestall the creation of an independent union.
					</p>
					<p>
						Sellwood figured prominently in the history of the East Side electric railways. By 1915 Portland had the third most extensive electric railways system in America. The first major interurban electric line in the United States served the East Side of Portland including Sellwood. In 1939 the United States Forest Service took over the clubhouse for the use of the Civilian Conservation Corps. Until it was vacated in 1986, the clubhouse functioned as a forest pest research center and as a storage facility. Left vacant until 2002, the building was restored by Jeff and Susan Linman and placed on the National Historic Registry and is now the home of Dunthorpe Marketing Group.
					</p>
				</div>
				<div class="history-images">
					<div class="image-block">
						<img src="http://via.placeholder.com/150x100">
						<div class="image-caption">Historical Photo</div>
					</div>
					<div class="image-block">
						<img src="http://via.placeholder.com/150x100">
						<div class="image-caption">Current Day Photo</div>
					</div>
				</div>
			</div>
		</section>
	</div>
</div>

<script type="text/javascript" src="/js/about.js"></script>