<div class="page-content service-page cc-page">
	<div class="header-image-md" style="background-image: url('/images/headers/campaigns-content-min.jpg'); background-position: 50% 80%;">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Campaigns + Content</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2 class="cc">Get more out of your marketing campaigns and content.</h2>
				<p>We turn big ideas and process excellence into high-performing campaigns that deliver measurable results. All of our campaigns and content are based on the buyer’s journey, delivering the right offers to the right people at the right time. And all of them are designed to stimulate engagement and increase lead conversion.</p>
				<ul class="service-list">
					<li><img src='/images/arrow-gold.svg'/>Integrated account-based marketing (ABM) campaigns </li>
					<li><img src='/images/arrow-gold.svg'/>Lead lifecycle program development, execution, and measurement</li>
					<li><img src='/images/arrow-gold.svg'/>Content gap analysis and planning</li>
					<li><img src='/images/arrow-gold.svg'/>Content development</li>
				</ul>
			</article>
			<div>
				<p>
				Want to learn more about best practices for customer engagement and buyer journeys, case studies and sample campaign results? 
				</p>
				<a href="/contact"><div class="btn campaigns-and-content">Contact Us</div></a>
			</div>
		</div>
	</div>
	<div class="featured-content-section">
		<div class="container">
			<h3 class="cc">Additional Resources</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4>{{{title}}}</h4>
					{{{content.brief}}}
					<div class="fc-cta">
						<a href="{{postUrl slug}}" class="fc-button btn {{{categories.[0].key}}}">Read More</a>
					</div>
				</article>
				{{/each}}
			</div>
			<a  href="/resources" class="resource-btn">View all resources</a>
		</div>
	</div>
</div>