<div class="page-content service-page cc-page">
	<div class="header-image-md" style="background-image: url('/images/headers/careers-min.jpg'); background-position: 50% 0%;">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Careers</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2>Join our team</h2>
				<p>
					We are looking for talented, dedicated professionals to join the team. We offer competitive salaries, excellent benefits, and a great location in a historic building near city center.
				</p>
				<p>
					If you would like to submit your resume for any current openings at Dunthorpe, please <a href="mailto:bmulder@dunthorpemarketing.com">email</a> your resume to Brenda Mulder, Director, Human Resources.
				</p>
			</article>
		</div>
	</div>
</div>