<div class="page-content service-page">
	<div class="header-image-md">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Maximize your data resources.</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2>Data Optimization</h2>
				<p>We’re not afraid to roll up our sleeves and dive deeply into your marketing and contact databases. After all, marketing success cannot be achieved with inaccurate or incomplete data. We can help with data auditing, strategic planning, list acquisition, and custom list creation. And our technical team has a peculiar fondness for data cleansing, appending, and standardization.</p>
				<ul>
					<li><img src='/images/arrow-dark-green.svg'/>Data health audit</li>
					<li><img src='/images/arrow-dark-green.svg'/>Target audience gap analysis</li>
					<li><img src='/images/arrow-dark-green.svg'/>Data acquisition / cleansing / management</li>
				</ul>
			</article>
		</div>
	</div>
	<div class="featured-content-section">
		<div class="container">
			<h3>Additional Resources</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4>{{{title}}}</h4>
					{{{content.brief}}}
					<a href="#"><div class="fc-button btn {{{categories.[0].key}}}">Read More</div></a>
				</article>
				{{/each}}
			</div>
		</div>
	</div>
</div>