<div class="page-content homepage">
	<div class="header-image">
	</div>
	<div class="header-content-container">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Brains + brawn for your B2B marketing.</h1>
					<h3 class="sub-headline">Big picture thinking with a roll-up-your-sleeves attitude.</h3>
					<a href="#"><div class="header-button">Learn More</div></a>
				</div>
				<div class="arrow">
					<svg  xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z"/></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="intro container">
			<article>
				<h2>The Bridge between smart thinking and desired results.</h2>
				<p>Big ideas are a fantastic start. But many things must be in place before smart thinking can deliver desired results. You need rigorous  processes, systems, data, and content. You need a deep understanding of your audiences and the different stages of their buyer journey. And you need to engage them with the right message at the right time through the right channel.</p>
				<p>We are marketing strategists and practitioners, but the secret to our—and your—success lies in a healthy obsession with critical details. Utilizing big picture thinking, a roll-up-the-sleeves attitude, and an unwavering focus on your goals, we help you:</p>
				<ul>
					<li><img src='/images/arrow-olive.svg'/>Kaizens and Workshops</li>
					<li><img src='/images/arrow-olive.svg'/>Buyer joureny and persona development</li>
					<li><img src='/images/arrow-olive.svg'/>Nurture and campaign planning</li>
					<li><img src='/images/arrow-olive.svg'/>Sales and marketing process optimization</li>
					<li><img src='/images/arrow-olive.svg'/>Branding, messaging, and content planning</li>
				</ul>
			</article>
		</div>

		<div class="contact-section">
			<div class="contact-content container">
				<div class="section-headline">
					<div class="headline"><h2>Want to get in touch?</h2></div>
					<div class="underline"></div>
				</div>
				<p>We’re standing by to answer your questions. We'd love to talk with you and get to know your business and marketing challenges.</p>
				<a href="#"><div class="btn contact-button"><strong>Contact Us</strong></div></a>
			</div>
			

		</div>

		<div class="container featured-content-section">
			<div>
				<div class="section-headline">
					<div class="headline"><h3>Featured Content</h3></div>
					<div class="underline"></div>
				</div>
			</div>
			<div class="featured-content">
				<article class="fc">
					<h4>This is the headline for this resource</h4>
					<p>This is a snippet from the content. This is a snippet from the content. This is a snippet from the content. This is a snippet from the content.</p>
					<a href="#"><div class="fc-button btn light-green">Read More</div></a>
				</article>
				<article class="fc">
					<h4>This is the headline for this resource</h4>
					<p>This is a snippet from the content. This is a snippet from the content. This is a snippet from the content. This is a snippet from the content.</p>
					<a href="#"><div class="fc-button btn light-blue">Read More</div></a>
				</article>
				<article class="fc">
					<h4>This is the headline for this resource</h4>
					<p>This is a snippet from the content. This is a snippet from the content. This is a snippet from the content. This is a snippet from the content.</p>
					<a href="#"><div class="fc-button btn gold">Read More</div></a>
				</article>
			</div>
		</div>
	</div>
</div>
