<div class="page-content homepage">
	<div class="header-image">
	</div>
	<div class="header-content-container">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Brains + brawn for your B2B marketing.</h1>
					<h3 class="sub-headline">Big picture thinking with a roll-up-your-sleeves attitude.</h3>
					<a href="#"><div class="header-button">Learn More</div></a>
				</div>
				<div class="arrow hidden-sm-down">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="intro container">
			<article>
				<h2>The Bridge between smart thinking and desired results.</h2>
				<p>Big ideas are a fantastic start. But many things must be in place before smart thinking can deliver desired results. You need rigorous  processes, systems, data, and content. You need a deep understanding of your audiences and the different stages of their buyer journey. And you need to engage them with the right message at the right time through the right channel.</p>
				<p>We are marketing strategists and practitioners, but the secret to our—and your—success lies in a healthy obsession with critical details. Utilizing big picture thinking, a roll-up-the-sleeves attitude, and an unwavering focus on your goals, we help you:</p>
				<ul>
					<li><img src='/images/arrow-olive.svg'/>Formalize your strategies and processes</li>
					<li><img src='/images/arrow-olive.svg'/>Optimize your data and automation systems</li>
					<li><img src='/images/arrow-olive.svg'/>Maximize your understanding of customers and prospects</li>
					<li><img src='/images/arrow-olive.svg'/>Synchronize these critical elements to drive predictable&mdash;and measurable&mdash;results</li>
				</ul>
			</article>
			<div class="section-break">
				<div class="break-line">
				</div>
				<div class="break-arrow">
					<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
				</div>
			</div>
		</div>
		<div class="services-section">
			<div class="services-help container">
				<div class="dropdown-container">
					<h2 class="header">How can we help you?</h2>
					<div class="dropdown">
						<span class="static">
							<strong>I need to...&nbsp;</strong>
						</span>
						<span class="dynamic-text hidden-sm-down">transform my marketing operations and process</span>
						<svg class="arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ffffff" d="M0 7.33l2.829-2.83 9.175 9.339 9.167-9.339 2.829 2.83-11.996 12.17z"/></svg>
					</div>
				</div>
			</div>
			<div class="services-capabilities">
				<div class="capability sc">
					<div class="img-holder"><img src="http://via.placeholder.com/100x100"></div>
					<h3>Strategy and Consulting</h3>
					<p>Working closely with marketing teams and senior executives, we help develop detailed strategies and operational models that drive successful marketing activities.</p>
					<div class="btn-holder">
						<div class="capability-btn">Learn More</div>
					</div>
					
				</div>
				<div class="capability cc">
					<div class="img-holder"><img src="http://via.placeholder.com/100x100"></div>
					<h3>Campaigns and Content</h3>
					<p>We turn big ideas and process excellence into high-performing campaigns that deliver measurable results.</p>
					<div class="btn-holder">
						<div class="capability-btn">Learn More</div>
					</div>
					
				</div>
				<div class="capability ma">
					<div class="img-holder"><img src="http://via.placeholder.com/100x100"></div>
					<h3>Marketing Automation</h3>
					<p>Our dedicated technical team has an array of software certifications, but successful marketing automation requires more than tools and technological knowhow.</p>
					<div class="btn-holder">
						<div class="capability-btn">Learn More</div>
					</div>
					
				</div>
				<div class="capability do">
					<div class="img-holder"><img src="http://via.placeholder.com/100x100"></div>
					<h3>Data Optimization</h3>
					<p>We’re not afraid to roll up our sleeves and dive deeply into your marketing and contact databases. After all, marketing success cannot be achieved with inaccurate or incomplete data.</p>
					<div class="btn-holder">
						<div class="capability-btn">Learn More</div>
					</div>
					
				</div>
				<div class="capability tel">
					<div class="img-holder"><img src="http://via.placeholder.com/100x100"></div>
					<h3>Teleservices</h3>
					<p>Teleservices represent the highest performing element of our integrated lead nurture programs and always deliver predictable, measurable results.</p>
					<div class="btn-holder">
						<div class="capability-btn">Learn More</div>
					</div>
					
				</div>
			</div>
		</div>


		<div class="contact-section">
			<div class="contact-content container">
				<h2>Want to get in touch?</h2>
				<p>We’re standing by to answer your questions. We'd love to talk with you and get to know your business and marketing challenges.</p>
				<a href="#"><div class="btn contact-button"><strong>Contact Us</strong></div></a>
			</div>
		</div>

		<div class="container featured-content-section">
			<h3>Featured Content</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4>{{{title}}}</h4>
					{{{content.brief}}}
					<a href="#"><div class="fc-button btn {{{categories.[0].key}}}">Read More</div></a>
				</article>
				{{/each}}
			</div>
		</div>
	</div>
</div>
