<div class="page-content service-page">
	<div class="header-image-md" style="background-image: url('/images/headers/strategy-consulting-min.jpg'); background-position: 50% 40%;">
	</div>
	<div class="header-content-container-md">
		<div class="header-content">
			<div class="header-border">
				<div class="inner-content">
					<h1 class="main-headline">Strategy + Consulting</h1>
				</div>
			</div>
		</div>
	</div>
	<div class="page-body">
		<div class="body-content container">
			<article>
				<h2 class="sc">Transform your marketing operations and processes.</h2>
				<p>Working closely with marketing teams and senior executives, we help develop detailed strategies and operational models that drive successful marketing activities. Through workshops, audits, and in-depth planning, we characterize the current and desired states of your marketing operations and formalize the processes and programs that will push you from point A to point B.</p>
				<ul class="service-list">
					<li><img src='/images/arrow-light-green.svg'/>Kaizens and Workshops</li>
					<li><img src='/images/arrow-light-green.svg'/>Buyer joureny and persona development</li>
					<li><img src='/images/arrow-light-green.svg'/>Nurture and campaign planning</li>
					<li><img src='/images/arrow-light-green.svg'/>Sales and marketing process optimization</li>
					<li><img src='/images/arrow-light-green.svg'/>Branding, messaging, and content planning</li>
				</ul>
			</article>
			<div>
				<p>
				Want to learn more about workshop agendas, case studies and sample output for optimization plans?
				</p>
				<a href="/contact"><div class="btn strategy-and-consulting">Contact Us</div></a>
			</div>
			
		</div>
	</div>
	{{#if data.posts.[0]}}
	<div class="featured-content-section">
		<div class="container">
			<h3 class="sc">Additional Resources</h3>
			<div class="featured-content">
				{{# each data.posts}}
				<article class="fc">
					<h4>{{{title}}}</h4>
					{{{content.brief}}}
					<div class="fc-cta">
						<a href="{{postUrl slug}}" class="fc-button btn {{{categories.[0].key}}}">Read More</a>
					</div>
				</article>
				{{/each}}
			</div>
			<a  href="/resources" class="resource-btn">View all resources</a>
		</div>
	</div>
	{{/if}}
</div>