.article-page {
    .banner {
        margin-top: $nav-base-height;

        background-color: $orange;
    }
    .featured-content-section {
        background-color: $dark-green-lightened;
    }
    &.strategy-and-consulting {
        .banner {
            background-color: $light-green;
        }
    }
    &.campaigns-and-content {
        .banner {
            background-color: $gold;
        }
    }
    &.marketing-automation {
        .banner {
            background-color: $dark-blue;
        }
    }
    &.data-optimization {
        .banner {
            background-color: $dark-green;
        }
    }
    &.teleservices {
        .banner {
            background-color: $light-blue;
        }
    }
    .body-content {
       .article-title {
        margin-bottom: 0;
        margin-top: 50px;
        } 
    }
    
}

.back-btn {
    @include inline-flexbox;
    @include arrow($white, 100%);
    align-items: center;
    img {
        height: 10px;
        margin-right: 10px;
    }
}

.breadcrumbs {
    color: $white;
    padding: 10px 15px;
    a {
        color: $white;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    @media(min-width: 576px) {
       padding: 10px 0;
    }
}



.gate-cover {
    @include flexbox;
    @include linear-transition(.2s);

    position: fixed;
    z-index: 1000;
    top: 0;

    width: 100vw;
    height: 100vh;

    opacity: 0;
    background-color: transparentize($dark-green, .05);

    align-items: center;
    justify-content: center;
    .gate-form-holder {
        @include border-radius;

        width: 800px;
        max-width: 95vw;
        padding: 15px;

        background-color: white;
        box-shadow: 1px 0 13px 5px rgba(0, 0, 0, .26), 0 0 0 1px rgba(0, 0, 0, .08);
        .form-header {
            margin: 20px 0;

            text-align: center;
        }
        .form-group {
            width: 100%;
            input,
            textarea {
                @include border-radius;

                font-size: 18px;

                box-sizing: border-box;
                width: 100%;
                margin-bottom: 10px;
                padding: 0 5px;

                border: 1px solid $light-grey;
            }
            input {
                height: 2em;
            }
            textarea {
                height: 4em;

                resize: none;
            }
        }
        .form-actions {
            margin-top: 20px;

            text-align: center;
        }
        .submit {
            font-size: 1.2em;

            cursor: pointer;

            border: none;
        }
    }
    &.visible {
        opacity: 1;
    }
}

.article-content {
    p,
    li {
        font-family: $font-family !important;
        font-size: 18px;
        color: $dark-grey !important;
        line-height: 1.8em;
    }
    p.well {
        padding: 15px;
    }
    h4 {
        font-weight: 700;
        margin-top: 50px;
    }
    img {
        max-width: calc(100% - 15px);
    }
    .well {
        @include border-radius;
        background-color: transparentize($dark-green, .9) !important;
    }
    .highlight {
        color: $orange !important;
    }
    li {
        padding: 5px 0;
    }
    .text-right {
        width: 100%;
        text-align: right;
        display: block;
    }
}
