.article-page {
	.banner {
		height: 90px;
		background-color: $orange;
	}
	.featured-content-section {
		background-color: $dark-green-lightened
	}
	&.strategy-and-consulting {
		.banner {
			background-color: $light-green;
		}
	}
	&.campaigns-and-content {
		.banner {
			background-color: $gold;
		}
	}
	&.marketing-automation {
		.banner {
			background-color: $dark-blue;
		}
	}
	&.data-optimization {
		.banner {
			background-color: $dark-green;
		}
	}
	&.teleservices {
		.banner {
			background-color: $light-blue;
		}
	}
}

.gate-cover {
	@include flexbox;
	align-items: center;
	justify-content: center;
	position: fixed;
	background-color: transparentize($dark-green, 0.05);
	height: 100vh;
	width: 100vw;
	z-index: 1000;
	top: 0;
	.gate-form-holder {
		@include border-radius;
		background-color: white;
		width: 800px;
		max-width: 95vw;
		padding: 15px;
		.form-header {
			text-align: center;
			margin: 20px 0;
		}
		.form-group {
			width: 100%;
			input, textarea {
				@include border-radius;
				border: 1px solid $light-grey;
				width: 100%;
				margin-bottom: 10px;
				padding: 0 5px;
				font-size: 18px;
			}
			input {
				height: 2em;
			}
			textarea {
				resize: none;
				height: 4em;
			}
		}
		.form-actions {
			text-align: center;
			margin-top: 20px;
		}
		.submit {
			border:none;
			cursor: pointer;
			font-size: 1.2em;
		}
	}
}



