.homepage {
    .header-image {
        @include linear-transition(.1s);

        position: absolute;
        z-index: -1;
        top: 0;

        width: 100%;
        height: 100%;

        background-image: url('/images/headers/homepage-min.jpg');
        background-position: 50% 100%;
        background-size: cover;
    }
    .header-content-container {
        @include flexbox;

        height: 100vh;

        align-items: stretch;
        .header-content {
            @include flexbox;

            width: 100%;
            margin-top: $nav-base-height;
            padding: 10px 2vw;

            align-items: stretch;
            .header-border {
                @include flexbox;
                @include border-radius;

                flex-direction: column;

                width: 100%;

                border: 3px solid $white;

                align-items: center;
                justify-content: center;
                flex-basis: auto;
                .inner-content {
                    padding: 5px 15px;

                    color: $white;
                    .header-button {
                        @include linear-transition(.1s);
                        @include border-radius;

                        font-size: 1.5em;

                        display: none;

                        margin-top: 1em;
                        padding: .5em 1.5em;

                        text-decoration: none;

                        color: $white;
                        border: 3px solid $white;
                        background-color: $orange-transparent;
                        &:hover {
                            background-color: $orange;
                        }
                        @media (min-width: 768px) {
                            display: inline-block;
                        }
                    }
                    @media(min-width: 768px) {
                        padding: 20px 5px;
                    }
                }
                @media (min-width: 768px) {
                    padding: 5%;
                }
                .arrow {
                    @include arrow($white, 2em);

                    position: absolute;
                    margin: auto;
                    bottom: 45px;

                    cursor: pointer;
                }
            }
            @media(min-width: 768px) {
                padding: 40px 2vw;
            }
        }
    }
    .page-body {
        padding: 40px 0 0 0;

        background-color: $white;
        .intro {
            padding-bottom: 40px;
            h2 {
                margin-bottom: 20px;
            }
            ul {
                margin-bottom: 40px;
                padding-left: 5%;

                list-style: none;
                li {
                    @include flexbox;

                    line-height: 1.5em;

                    padding: 1em 0;

                    align-content: center;
                }
                img {
                    height: 1.5em;
                    margin-right: .2em;
                }
            }
            .section-break {
                position: relative;

                margin-top: 2em;

                opacity: .8;
                .break-line {
                    position: absolute;
                    top: 10px;

                    width: 100%;
                    height: 3px;

                    background-color: $light-grey;
                }
                .break-arrow {
                    @include arrow($light-grey, 24px);

                    display: inline-block;

                    width: 100%;

                    text-align: center;
                    text-align: center;

                    background-color: white;
                    .arrow-img {
                        @include flexbox;

                        position: relative;
                        right: -50%;

                        background-color: white;

                        align-items: center;
                        svg {
                            position: relative;

                            padding: 0 .3em;

                            background-color: $white;
                        }
                    }
                }
            }
        }
    }
    .services-section {
        margin: 40px 0 40px 0;
        padding: 0 5%;
        .services-help {
            margin-bottom: 2em;
            .dropdown-container {
                @include flexbox;

                flex-direction: column;

                align-items: stretch;
                .header {
                    font-size: 1.9em;

                    display: inline-block;

                    margin-right: 1em;
                    margin-bottom: 1em;
                }
                #services-help-dropdown {
                    @include border-radius;

                    position: relative;

                    min-width: 200px;

                    flex-grow: 2;
                    .dropdown-btn {
                        @include flexbox;
                        @include linear-transition(.1s);
                        @include border-radius;

                        position: relative;
                        
                        min-height: 3em;
                        padding: 0 1em;

                        cursor: pointer;

                        color: $white;
                        background-color: $orange;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
                        
                        flex-direction: row;
                        align-items: center;
                        .static {
                            font-size: 1.3em;
                        }
                        .dynamic-text {
                            @include linear-transition(.5s);

                            font-size: 1.2em;

                            opacity: 1;
                            flex: 2 0 auto;
                            &.hidden {
                                opacity: 0;
                            }
                        }
                        .spacer {
                            flex: 4 0 auto; 
                        }
                        .arrow {
                            @include flexbox;


                            align-items: center;
                            flex: 0 0 auto;
                            height: 100%;
                            align-items: center;
                            #services-help-arrow {
                                @include linear-transition(.1s);
                            }
                        }
                        &:hover {
                            box-shadow: 0 3px 8px 4px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0, .08);
                        }
                    }
                    .dropdown-options {
                        @include border-radius;
                        @include linear-transition(.3s);

                        position: absolute;

                        overflow: hidden;

                        width: 100%;
                        max-height: 0;

                        background-color: $white;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);

                        flex-basis: 100%;
                        ul {
                            margin: 0;
                            padding: 0;

                            list-style: none;
                            a {
                                text-decoration: none;

                                color: $dark-grey;
                            }
                            li {
                                padding: .5em;

                                border-bottom: 1px solid $light-grey;
                                &:hover {
                                    background-color: $dark-green-transparent;
                                }
                            }
                        }
                    }
                    &.expand {
                        .dropdown-btn {
                            box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
                        }
                        .dropdown-options {
                            max-height: 600px;
                        }
                        #services-help-arrow {
                            transform: rotate(180deg);
                        }
                    }
                }
                @media (min-width: 1200px) {
                    flex-direction: row;
                    .header {
                        margin-bottom: 0;
                    }
                    .dropdown {
                        min-height: 0;
                    }
                }
            }
        }
        .services-capabilities {
            @include flexbox;

            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            a {
                display: inline-block;

                text-decoration: none;

                color: $white;
            }
            .capability {
                @include flexbox;
                @include linear-transition(.1s);
                @include border-radius;

                flex-direction: column;

                margin: 1em;
                padding: 1em;

                cursor: pointer;

                color: $white;
                box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);

                flex-basis: 100%;
                justify-content: space-evenly;
                h3 {
                    font-size: 1.4em;

                    text-align: center;
                }
                p {
                    color: $white;
                }
                .img-holder {
                    margin-bottom: 1em;

                    text-align: center;
                }
                .btn-holder {
                    @include flexbox;

                    flex-direction: column;

                    text-align: center;

                    justify-content: flex-end;
                    flex-grow: 2;
                    .capability-btn {
                        @include linear-transition(.1s);
                        @include border-radius;

                        font-size: 1.2em;
                        font-weight: 700;

                        display: inline-block;

                        margin: 0 auto;
                        padding: .5em 2em;

                        color: $white;
                        border: 3px solid $white;
                    }
                }
                &.sc {
                    background-color: $light-green;
                    &:hover {
                        .capability-btn {
                            color: $light-green;
                        }
                    }
                }
                &.do {
                    background-color: $dark-green;
                    &:hover {
                        .capability-btn {
                            color: $dark-green;
                        }
                    }
                }
                &.tel {
                    background-color: $light-blue;
                    &:hover {
                        .capability-btn {
                            color: $light-blue;
                        }
                    }
                }
                &.ma {
                    background-color: $dark-blue;
                    &:hover {
                        .capability-btn {
                            color: $dark-blue;
                        }
                    }
                }
                &.cc {
                    background-color: $gold;
                    &:hover {
                        .capability-btn {
                            color: $gold;
                        }
                    }
                }
                &:hover {
                    box-shadow: 0 3px 8px 4px rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0, .08);
                    .capability-btn {
                        background-color: white;
                    }
                }
                @media (min-width: 576px) {
                    flex-basis: 70%;
                }
                @media(min-width: 815px) {
                    flex-basis: 300px;
                }
            }
            @media(min-width: 1500px) {
                flex-wrap: nowrap;
            }
        }
    }
    .contact-section {
        background-color: $dark-green-transparent;
        .contact-content {
            display: block;

            padding-top: 50px;
            padding-bottom: 50px;
            h2 {
                display: inline-block;

                border-bottom: 3px solid $orange;
            }
            .contact-arrow {
                position: absolute;

                height: 100%;

                opacity: .2;
            }
            .contact-button {
                font-size: 1.3em;

                padding: .5em 2em;
            }
            p {
                margin: 2em 0;
            }
            @media(min-width: 890px) {
                padding-top: 100px;
                padding-bottom: 100px;
            }
        }
        @media (min-width: 890px) and (max-width: 992px) {
            background-image: url('/images/contact-arrow.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
        @media (min-width: 1125px) and (max-width: 1200px) {
            background-image: url('/images/contact-arrow.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
        @media (min-width: 1310px) {
            background-image: url('/images/contact-arrow.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-size: contain;
        }
        @media (min-width: 1550px) {
            background-image: url('/images/contact-arrow.svg');
            background-repeat: no-repeat;
            background-position: left;
            background-size: cover;
        }
    }
}
