.homepage {
	.header-image {
		background-image: url('http://via.placeholder.com/1000x1000');
		background-size: cover;
		background-position: 50% 50%;
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		z-index: -1;
	}
	.header-content-container {
		@include flexbox;
		align-items: stretch;
		height: 100vh;
		.header-content {
			margin-top: 60px;
			padding: 4% 2%;
			width: 100%;
			.header-border {
				@include flexbox;
				flex-direction: column;
				border: 3px solid $white;
				border-radius: 4px;
				height: 100%;
				align-items: center;
				justify-content: center;
				.inner-content {
					color: $white;
					padding: 2em;
					.main-headline {

					}
					.sub-headline {

					}
					.header-button {
						@include linear-transition(.1s);
						background-color: $orange-transparent;
						border: 3px solid $white;
						border-radius: 4px;
						color: $white;
						display: inline-block;
						font-size: 1.5em;
						margin-top: 1em; 
						padding: .5em 1.5em;
						text-decoration: none;
						&:hover {
							background-color: $orange;
						}
					}
				}
				.arrow {
					@include arrow($white, 2em);
					position: absolute;
					bottom: 5%;
					left:  50%;

				}
			}
			@media(min-width: 768px) {
				padding: 2%;
			}
		}

	}
	.page-body {
		background-color: $white;
		padding: 3em 0;
		.intro {
			padding-bottom: 5em;
			p {
				line-height: 1.5em;
			}
			ul {
				list-style: none;
				li {
					line-height: 1.5em;
					padding: .5em 0;
				}
				img {
					position: relative;
					top: .4em;
					height: 1.5em;
					margin-right: 0.2em;
				}
			}
			.section-break {
				position: relative;
				opacity: .8;
				margin-top: 2em;
				.break-line {
					height: 3px;
					width: 100%;
					background-color: $light-grey;
					position: absolute;
					top: 10px;
				}
				.break-arrow {
					@include arrow($light-grey, 24px);
					width: 30px;
					text-align: center;
					background-color: white;
					display: inline-block;
					position: absolute;
					top: 0;
					left: 50%;
				}
			}
		}
	}

	.contact-section {
		background-color: $dark-green-transparent;
		.contact-content {
			padding-top: 8em;
			padding-bottom: 8em;
			h2 {
				display: inline-block;
				border-bottom: 3px solid $orange;
			}
			.contact-arrow {
				height: 100%;
				opacity: 0.2;
				position: absolute;
			}
			.contact-button {
				font-size: 1.3em;
				padding: .5em 2em;
			}
			p {
				margin: 2em 0;
			}
		}	
	}
}