html,
body {
    font-family: $font-family;
    font-size: $font-size-base;

    height: 100%;
    margin: 0;
    padding: 0;

    color: $dark-grey;
}

.main-nav {
    @include flexbox;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;

    flex-direction: column;

    width: 100%;
    min-height: $nav-base-height;

    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);

    justify-content: space-between;
    @media (min-width: 768px) {
        flex-direction: row;

        height: $nav-base-height;
    }
    .nav-img {
        position: relative;
        left: 2vw;

        max-height: $nav-base-height;
        a {
            display: inline-block;
        }
        img {
            height: 80px;
        }
    }
    .nav-links {
        @include inline-flexbox;

        overflow: hidden;
        flex-direction: column;

        width: 100%;
        max-height: 0;
        margin: 0;
        padding: 0;

        background-color: $white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);

        align-items: stretch;
        .nav-link {
            text-decoration: none;

            color: $olive-green;
        }
        .nav-item {
            @include linear-transition(.1s);

            font-size: 1.2em;

            display: block;

            box-sizing: border-box;
            height: 100%;

            cursor: pointer;
            vertical-align: middle;
            text-decoration: none;

            color: $olive-green;
            &.active {
                background-color: $dark-green-transparent;
            }
            &:hover {
                background-color: $dark-green-transparent;
            }
            &.expand {
                @media (max-width: 768px) {
                    background-color: $dark-green-transparent;
                    .dropdown {
                        height: auto;

                        border-bottom: 1px solid $light-grey;
                    }
                }
                .nav-label {
                    .dropdown-arrow {
                        svg {
                            @include rotate(180deg);
                        }
                    }
                }
            }
            .nav-label {
                height: 45px;
                padding: 20px 0 0 1em;
                .dropdown-arrow {
                    @include arrow($olive-green, 1em);
                    @include linear-transition(.1s);

                    position: relative;
                    right: 5%;

                    float: right;
                }
            }
            .dropdown {
                position: static;

                overflow: hidden;

                width: 100%;
                height: 0;

                text-align: left;

                background-color: $white;
                .dropdown-links {
                    margin: 0;
                    padding: 0;

                    list-style: none;
                    list-style-position: inside;
                    a {
                        text-decoration: none;

                        color: $olive-green;
                    }
                    .dropdown-link {
                        @include linear-transition(.1s);

                        margin: 0 ;
                        padding: 1em 0 1em 3em;

                        text-decoration: none;
                        &:hover {
                            background-color: $dark-green-transparent;
                        }
                    }
                }
            }
        }
        &.expand {
            @include linear-transition(.1s);

            max-height: 800px;
        }
        @media (min-width: 768px) {
            flex-direction: row;

            width: auto;
            height: $nav-base-height;
            max-height: $nav-base-height;
            padding: 0 35px;

            box-shadow: none;
            .nav-item {
                border-bottom: 3px solid $white;
                .nav-label {
                    width: auto;
                    padding: 25px 1em 0 1em;

                    text-align: center;
                }
                &.active {
                    border-bottom: 3px solid $olive-green;
                    background-color: $white;
                }
                &:hover {
                    border-bottom: 3px solid $olive-green;
                    background-color: $dark-green-transparent;
                    .dropdown {
                        height: auto;
                        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
                    }
                }
                .dropdown {
                    position: absolute;
                    top: $nav-base-height;

                    width: auto;
                    height: 0;

                    text-align: left;

                    border-radius: 0 0 4px 4px;
                    
                    .dropdown-links {
                        padding: 0;
                        .dropdown-link {
                            padding: .5em 1em;
                        }
                    }
                }
            }
        }
    }
    .nav-menu {
        position: fixed;
        top: 25px;
        right: 2vw;

        float: right;

        width: 40px;
        height: 30px;

        cursor: pointer;
        .menu-bar {
            @include border-radius;

            width: 30px;
            height: 3px;
            margin: 5px auto;

            background-color: $light-grey;
        }
    }
}

.footer {
    width: 100%;
    padding-top: 40px;

    background-color: $dark-green;
    box-shadow: 0 -3px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    .footer-content {
        @include flexbox;

        color: white;

        flex-wrap: wrap;
        justify-content: space-between;
        .footer-links {
            width: 45%;
            &.footer-services {
                @media (max-width: 575px) {
                    width: 100%;
                    margin-bottom: 1em;
                }
            }
            .footer-links-header {
                font-size: 1.2em;
                font-weight: bold;

                padding-bottom: .2em;

                border-bottom: 3px solid $lime-green;
                a {
                    color: $lime-green;
                    text-decoration: none;
                }
            }
            ul {
                font-weight: lighter;

                margin: .5em 0;
                padding: 0;

                list-style: none;
                li {
                    margin: 5px 0;
                    a {
                        text-decoration: none;

                        color: white;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
        .footer-logo {
            font-weight: lighter;

            width: 100%;
            padding: 20px 0;

            text-align: right;

            color: $lime-green;
            img {
                height: 80px;
            }
            a {
                text-decoration: none;

                color: $lime-green;
            }
        }
        @media (min-width: 576px) {
            justify-content: space-between;
            .footer-links {
                width: 30%;
                margin-right: 0;
            }
        }
        @media (min-width: 768px) {
            justify-content: flex-start;
            .footer-links {
                width: 25%;
                margin-right: 1em;
            }
        }
    }
}

.page-body {
    padding: 40px 0;

    background-color: $white;
    .body-content {
        h2 {
            display: inline-block;

            margin-bottom: 20px;

            border-bottom: 3px solid $orange;
            &.sc {
                border-bottom: 3px solid $light-green;
            }
            &.cc {
                border-bottom: 3px solid $gold;
            }
            &.ma {
                border-bottom: 3px solid $dark-blue;
            }
            &.do {
                border-bottom: 3px solid $dark-green;
            }
            &.tel {
                border-bottom: 3px solid $light-blue;
            }
        }
        p {
            line-height: 1.5em;
        }
        .service-list {
            padding-left: 5%;

            list-style: none;
            li {
                @include flexbox;

                line-height: 1.5em;

                padding: 1em 0;

                align-content: center;
            }
            img {
                height: 1.5em;
                margin-right: .2em;
            }
        }
        a {
            text-decoration: none;

            color: $orange;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}

.featured-content-section {
    padding: 40px 0;
    .featured-content {
        @include flexbox;

        flex-direction: row;

        margin-top: 2em;

        flex-wrap: wrap;
        align-items: stretch;
        .fc {
            @include flexbox;

            flex-direction: column;

            box-sizing: border-box;
            padding: 1em 0 2em 0;


            border-bottom: 1px solid $light-grey;
            &:last-child {
                border-bottom: none;
            }
            h4 a {
                color: $olive-green;
                text-decoration: none;
            }
            @media (min-width: 992px) {
                width: 33%;
                padding: 0 1em;

                border-right: 1px solid $light-grey;
                border-bottom: none;
                .fc-button {
                }
                &:first-child {
                    padding: 0 1em 0 0;
                }
                &:last-child {
                    padding: 0 0 0 1em;

                    border-right: none;
                    &:first-child {
                        padding: 0;
                    }
                }
            }
            .fc-cta {
                @include flexbox;
                justify-content: space-between;
                flex-grow: 10;
                margin-top: 15px;
                align-items: flex-end;
                a {
                    text-decoration: none;
                }
            }
        }
    }
    .resource-btn {
        @include border-radius;
        @include linear-transition(.1s);

        display: inline-block;

        margin-top: 20px;
        padding: 5px;

        text-decoration: none;

        color: $dark-grey;
        background-color: rgba(76,69,23,.1);
        &:hover {
            background-color: rgba(76,69,23,.3);
        }
    }
}

.pagination {
    display: inline-block;

    margin: 1.5em 0 1.5em 0;
    padding: 0;

    list-style-type: none;
    a {
        text-decoration: none;

        color: $dark-green;
    }
    li {
        float: left;

        margin: 0 .2em;
        padding: .5em 0;
        &.page-number {
            padding: .5em;

            border-radius: 2px;
            background-color: $dark-green-transparent;
            &.active {
                background-color: $olive-green;
                a {
                    text-decoration: none;

                    color: $white;
                }
            }
        }
        path {
            position: relative;
            top: 3px;

            fill: $olive-green;
        }
        &.disabled {
            path {
                fill: $light-grey;
            }
        }
    }
}

#flash-messages {
    position: absolute;
    top: $nav-base-height + 40;

    display: inline-block;
    div {
        @include border-radius;

        padding: 1em;

        background-color: white;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    }
}

.category-link {
    @include border-radius;
    padding: 5px;
    display: inline-block;
    margin-bottom: 15px;
    a {
        text-decoration: none;

        color: $orange;
        &:hover {
            text-decoration: underline;
        }
    }
    &.strategy-and-consulting {
        background-color: transparentize($light-green, .8);
        a {
            color: $light-green;
        }
    }
    &.campaigns-and-content {
        background-color: transparentize($gold, .8);
        a {
            color: $gold;
        }
    }
    &.marketing-automation {
        background-color: transparentize($dark-blue, .8);
        a {
            color: $dark-blue;
        }
    }
    &.data-optimization {
        background-color: transparentize($olive-green, .8);
        a {
            color: $olive-green;
        }
    }
    &.teleservices {
        background-color: transparentize($light-blue, .8);
        a {
            color: $light-blue;
        }
    }
}
