$font-size-base: 16px;
$nav-base-height: 80px;
$dark-green: #4c4517;
$dark-green-lightened: rgb(233, 232,226);
$dark-green-transparent: rgba(76,69,23, .1);
$olive-green: #75702b;
$lime-green: #ede100;
$orange: #c66005;
$orange-transparent: rgba(198,96,5, .5);
$light-green: #a89e00;
$gold: #f9a718;
$dark-blue: #4c779c;
$light-blue: #7fadc2;
$white: #fff;
$dark-grey: #404040;
$dark-grey-transparent: rgba(149,152,154,.3);
$light-grey: #dee3e5;
$lighter-grey: #efefef; 
$font-family: 'Poppins', sans-serif;

@mixin flexbox {
    display: -webkit-box;
    display:    -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display:         flex;
}

@mixin inline-flexbox {
    display: -webkit-inline-box;
    display:    -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display:         inline-flex;
}

@mixin container {
    width: 100%;
    padding: 1em;
}

@mixin linear-transition($time) {
    -webkit-transition: $time linear;
       -moz-transition: $time linear;
         -o-transition: $time  linear;
            transition: $time linear;
}

@mixin ease-transition($time) {
    -webkit-transition: $time ease-in-out;
       -moz-transition: $time ease-in-out;
         -o-transition: $time  ease-in-out;
            transition: $time ease-in-out;
}

@mixin arrow($color, $size) {
    svg {
        width: $size;
        path {
            fill: $color;
        }
    }
}

@mixin rotate($deg) {
    -webkit-transform: rotate($deg);
       -moz-transform: rotate($deg);
         -o-transform: rotate($deg);
            transform: rotate($deg);
}

@mixin border-radius {
    border-radius: 4px;
}

@mixin underline($color) {
    text-decoration: underline;

    text-decoration-color: $color;
}



h1 {
    font-family: 'Bree Serif', serif;
    font-size: 2.8em;
    font-weight: 300;

    margin: 0;
}

h2 {
    font-family: 'Bree Serif', serif;
    font-size: 2.3em;
    font-weight: normal;

    margin: 0;

    color: $dark-green;
}

h3 {
    font-size: 1.6em;
    font-weight: normal;

    margin: 0;
}

h4 {
    font-size: 1.5em;
    font-weight: normal;

    margin: 0;

    color: $olive-green;
}

p,
li,
span {
    line-height: 1.5em;
}

p {
    color: $dark-grey;
}

input,
textarea,
select,
option {
    font-family: $font-family;
}

a {
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   &:active {
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
   }
}



.anchor {
    position: relative;
    top: -75px;

    display: block;
    visibility: hidden;
}

.btn {
    @include linear-transition(.2s);
    @include border-radius;

    display: inline-block;

    padding: .5em 1em;

    color: $white;
    background-color: $orange;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.16), 0 0 0 1px rgba(0,0,0,.08);
    &:hover {
        background-color: lighten($orange, 6%);
        box-shadow: 0 3px 8px 0 rgba(0,0,0,.2), 0 0 0 1px rgba(0,0,0, .08);
    }
    &.strategy-and-consulting {
        background-color: $light-green;
        &:hover {
            background-color: lighten($light-green, 6%);
        }
    }
    &.data-optimization {
        background-color: $dark-green;
        &:hover {
            background-color: lighten($dark-green, 6%);
        }
    }
    &.teleservices {
        background-color: $light-blue;
        &:hover {
            background-color: lighten($light-blue, 6%);
        }
    }
    &.marketing-automation {
        background-color: $dark-blue;
        &:hover {
            background-color: lighten($dark-blue, 6%);
        }
    }
    &.campaigns-and-content {
        background-color: $gold;
        &:hover {
            background-color: lighten($gold, 6%);
        }
    }
}

.header-image-md {
    @include linear-transition(.1s);

    position: absolute;
    z-index: -1;
    top: 0;

    width: 100%;
    min-height: 60vh;

    background-position: 50% 50%;
    background-size: cover;
    @media(min-width: 992px) {
        position: fixed;
    }
}
.header-content-container-md {
    @include flexbox;

    min-height: 40vh;
    padding: 20px 2vw;

    align-items: stretch;
    .header-content {
        @include flexbox;

        width: 100%;
        margin-top: $nav-base-height;

        align-items: stretch;
        .header-border {
            @include flexbox;
            @include border-radius;

            flex-direction: column;

            width: 100%;

            border: 3px solid $white;

            flex-basis: auto;
            align-items: center;
            justify-content: center;
            .inner-content {
                width: 90%;
                padding: 2vw;

                color: $white;
                h1 {
                    font-family: 'lato', sans-serif;

                    margin: 0 auto;

                    text-align: center;
                }
                @media (min-width: 768px) {
                    width: 70%;
                }
            }
        }
    }
}


.container {
    position: relative;

    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}

.container-fluid {
    position: relative;

    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 768px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 992px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

@media (min-width: 1200px) {
    .container-fluid {
        padding-right: 15px;
        padding-left: 15px;
    }
}

.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;

    margin-right: -15px;
    margin-left: -15px;

    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

@media (min-width: 1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}

.hidden-xs-up {
    display: none !important;
}

@media (max-width: 575px) {
    .hidden-xs-down {
        display: none !important;
    }
}

@media (min-width: 576px) {
    .hidden-sm-up {
        display: none !important;
    }
}

@media (max-width: 767px) {
    .hidden-sm-down {
        display: none !important;
    }
}

@media (min-width: 768px) {
    .hidden-md-up {
        display: none !important;
    }
}

@media (max-width: 991px) {
    .hidden-md-down {
        display: none !important;
    }
}

@media (min-width: 992px) {
    .hidden-lg-up {
        display: none !important;
    }
}

@media (max-width: 1199px) {
    .hidden-lg-down {
        display: none !important;
    }
}

@media (min-width: 1200px) {
    .hidden-xl-up {
        display: none !important;
    }
}
