h1 {
  margin: 0;
  font-size: 3em;
  font-family: 'Bree Serif', serif;
  font-weight: normal; }

h2 {
  margin: 0;
  font-size: 2.5em;
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #4C4517; }

h3 {
  margin: 0;
  font-size: 1.8em;
  font-weight: normal; }

h4 {
  color: #75702B;
  font-size: 1.5em;
  margin: 0;
  font-weight: normal; }

.btn {
  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  background-color: #C66005;
  border-radius: 4px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16);
  color: #FFFFFF;
  display: inline-block;
  padding: .5em 1em; }
  .btn.light-green {
    background-color: #A89E00; }
  .btn.dark-green {
    background-color: #4C4517; }
  .btn.light-blue {
    background-color: #7FADC2; }
  .btn.dark-blue {
    background-color: #4C779C; }
  .btn.gold {
    background-color: #F9A718; }
  .btn:hover {
    box-shadow: 0 2px 6px 3px rgba(0, 0, 0, 0.16); }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }

.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }

.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }

@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }

@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }

@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }

@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }

@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }

@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'lato';
  font-size: 16px; }

.main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 60px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: white;
  z-index: 10; }
  @media (min-width: 768px) {
    .main-nav {
      height: 60px;
      flex-direction: row; } }
  .main-nav .nav-img {
    left: 2%; }
  .main-nav .nav-links {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    padding: 0; }
    .main-nav .nav-links .nav-item {
      transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      color: #75702B;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1.2em;
      text-decoration: none;
      display: block;
      vertical-align: middle;
      height: 100%; }
      .main-nav .nav-links .nav-item.active {
        background-color: rgba(76, 69, 23, 0.12); }
      .main-nav .nav-links .nav-item:hover {
        background-color: rgba(76, 69, 23, 0.12); }
        .main-nav .nav-links .nav-item:hover .dropdown {
          height: auto;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .main-nav .nav-links .nav-item:hover .nav-label .dropdown-arrow {
          transform: rotate(180deg);
          -moz-transform: rotate(180deg);
          -webkit-transform: rotate(180deg);
          -o-transform: rotate(180deg); }
      .main-nav .nav-links .nav-item .nav-link {
        text-decoration: none;
        color: #75702B; }
      .main-nav .nav-links .nav-item .nav-label {
        height: 45px;
        width: 100%;
        padding: 20px 0 0 1em; }
        .main-nav .nav-links .nav-item .nav-label .dropdown-arrow {
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          position: absolute;
          right: 2%; }
          .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg {
            width: 1em; }
            .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg path {
              fill: #75702B; }
      .main-nav .nav-links .nav-item .dropdown {
        height: 0px;
        overflow: hidden;
        background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        text-align: left;
        position: static;
        width: 100%; }
        .main-nav .nav-links .nav-item .dropdown .dropdown-links {
          margin: 0;
          list-style: none;
          list-style-position: inside;
          padding: 0; }
          .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
            transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            margin: 0;
            text-decoration: none;
            padding: 1em 0 1em 3em; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link a {
              text-decoration: none;
              color: #75702B; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link:hover {
              background-color: rgba(76, 69, 23, 0.12); }
    @media (min-width: 768px) {
      .main-nav .nav-links {
        flex-direction: row;
        width: auto;
        padding: 0 1em;
        box-shadow: none;
        height: 60px; }
        .main-nav .nav-links .nav-item {
          border-bottom: 3px solid #FFFFFF; }
          .main-nav .nav-links .nav-item .nav-link .nav-label {
            width: auto;
            padding: 15px 1em 0 1em;
            text-align: center; }
          .main-nav .nav-links .nav-item.active {
            border-bottom: 3px solid transparent; }
          .main-nav .nav-links .nav-item:hover {
            border-bottom: 3px solid #75702B; }
          .main-nav .nav-links .nav-item .dropdown {
            height: 0px;
            position: absolute;
            top: 60px;
            text-align: left;
            width: auto; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links {
              padding: 0; }
              .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
                padding: .5em 1em; } }
  .main-nav .nav-menu {
    float: right;
    height: 30px;
    width: 40px;
    position: relative;
    top: 12px;
    right: 2%; }
    .main-nav .nav-menu .menu-bar {
      border-radius: 4px;
      width: 30px;
      margin: 5px auto;
      height: 3px;
      background-color: #DEE3E5; }

.footer {
  background-color: #4C4517;
  padding-top: 3em;
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%; }
  .footer .footer-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between; }
    .footer .footer-content .footer-links {
      width: 45%; }
      @media (max-width: 575px) {
        .footer .footer-content .footer-links.footer-services {
          width: 100%;
          margin-bottom: 1em; } }
      .footer .footer-content .footer-links .footer-links-header {
        border-bottom: 3px solid #EDE100;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: .2em; }
      .footer .footer-content .footer-links ul {
        list-style: none;
        margin: .5em 0;
        padding: 0;
        font-weight: lighter; }
        .footer .footer-content .footer-links ul li {
          margin: 5px 0; }
          .footer .footer-content .footer-links ul li a {
            text-decoration: none;
            color: white; }
            .footer .footer-content .footer-links ul li a:hover {
              text-decoration: underline; }
    .footer .footer-content .footer-logo {
      width: 100%;
      text-align: right;
      padding-bottom: 1em;
      color: #EDE100;
      font-weight: lighter; }
      .footer .footer-content .footer-logo a {
        text-decoration: none;
        color: #EDE100; }
    @media (min-width: 576px) {
      .footer .footer-content {
        justify-content: space-between; }
        .footer .footer-content .footer-links {
          width: 30%;
          margin-right: 0; } }
    @media (min-width: 768px) {
      .footer .footer-content {
        justify-content: flex-start; }
        .footer .footer-content .footer-links {
          width: 25%;
          margin-right: 1em; } }

.homepage .header-image {
  background-image: url("http://via.placeholder.com/1000x1000");
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1; }

.homepage .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  height: 100vh; }
  .homepage .header-content-container .header-content {
    margin-top: 60px;
    padding: 4% 2%;
    width: 100%; }
    .homepage .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .homepage .header-content-container .header-content .header-border .inner-content {
        color: #FFFFFF;
        padding: 2em; }
        .homepage .header-content-container .header-content .header-border .inner-content .header-button {
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          background-color: rgba(198, 96, 5, 0.5);
          border: 3px solid #FFFFFF;
          border-radius: 4px;
          color: #FFFFFF;
          display: inline-block;
          font-size: 1.5em;
          margin-top: 1em;
          padding: .5em 1.5em;
          text-decoration: none; }
          .homepage .header-content-container .header-content .header-border .inner-content .header-button:hover {
            background-color: #C66005; }
      .homepage .header-content-container .header-content .header-border .arrow {
        position: absolute;
        bottom: 5%;
        left: 50%; }
        .homepage .header-content-container .header-content .header-border .arrow svg {
          width: 2em; }
          .homepage .header-content-container .header-content .header-border .arrow svg path {
            fill: #FFFFFF; }
    @media (min-width: 768px) {
      .homepage .header-content-container .header-content {
        padding: 2%; } }

.homepage .page-body {
  background-color: #FFFFFF;
  padding: 3em 0; }
  .homepage .page-body .intro {
    padding-bottom: 5em; }
    .homepage .page-body .intro p {
      line-height: 1.5em; }
    .homepage .page-body .intro ul {
      list-style: none; }
      .homepage .page-body .intro ul li {
        line-height: 1.5em;
        padding: .5em 0; }
      .homepage .page-body .intro ul img {
        position: relative;
        top: .4em;
        height: 1.5em;
        margin-right: 0.2em; }
    .homepage .page-body .intro .section-break {
      position: relative;
      opacity: .8;
      margin-top: 2em; }
      .homepage .page-body .intro .section-break .break-line {
        height: 3px;
        width: 100%;
        background-color: #DEE3E5;
        position: absolute;
        top: 10px; }
      .homepage .page-body .intro .section-break .break-arrow {
        width: 30px;
        text-align: center;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%; }
        .homepage .page-body .intro .section-break .break-arrow svg {
          width: 24px; }
          .homepage .page-body .intro .section-break .break-arrow svg path {
            fill: #DEE3E5; }

.homepage .contact-section {
  background-color: rgba(76, 69, 23, 0.12);
  background-image: url("/images/contact-arrow.svg");
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat; }
  .homepage .contact-section .contact-content {
    padding-top: 8em;
    padding-bottom: 8em; }
    .homepage .contact-section .contact-content h2 {
      display: inline-block;
      border-bottom: 3px solid #C66005; }
    .homepage .contact-section .contact-content .contact-arrow {
      height: 100%;
      opacity: 0.2;
      position: absolute; }
    .homepage .contact-section .contact-content .contact-button {
      font-size: 1.3em;
      padding: .5em 2em; }
    .homepage .contact-section .contact-content p {
      margin: 2em 0; }

.homepage .featured-content-section {
  margin-top: 3em; }
  .homepage .featured-content-section h3 {
    font-family: 'Bree Serif', serif;
    color: #4C4517;
    border-bottom: 3px solid #C66005;
    display: inline-block; }
  .homepage .featured-content-section .featured-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 2em; }
    .homepage .featured-content-section .featured-content .fc {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-sizing: border-box;
      border-bottom: 2px solid #DEE3E5;
      padding: 1em 0 2em 0; }
      .homepage .featured-content-section .featured-content .fc:last-child {
        border-bottom: none; }
      .homepage .featured-content-section .featured-content .fc .fc-button {
        align-self: end; }
      @media (min-width: 768px) {
        .homepage .featured-content-section .featured-content .fc {
          width: 33%;
          border-bottom: none;
          border-right: 2px solid #DEE3E5;
          padding: 0 1em; }
          .homepage .featured-content-section .featured-content .fc:first-child {
            padding: 0 1em 0 0; }
          .homepage .featured-content-section .featured-content .fc:last-child {
            padding: 0 0 0 1em;
            border-right: none; } }

.service-page .header-image {
  background-image: url("http://via.placeholder.com/1000x1000");
  background-size: cover;
  background-position: 50% 50%;
  height: 40%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1; }

.service-page .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  height: 40vh; }
  .service-page .header-content-container .header-content {
    margin-top: 60px;
    padding: 2%;
    width: 100%; }
    .service-page .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .service-page .header-content-container .header-content .header-border .inner-content {
        color: #FFFFFF;
        padding: 2em; }
        .service-page .header-content-container .header-content .header-border .inner-content h1 {
          width: 90%;
          margin: 0 auto;
          font-family: 'lato', sans-serif; }
          @media (min-width: 768px) {
            .service-page .header-content-container .header-content .header-border .inner-content h1 {
              width: 60%; } }

.service-page .page-body {
  background-color: #FFFFFF;
  padding: 3em 0; }
  .service-page .page-body .body-content {
    padding-bottom: 5em; }
    .service-page .page-body .body-content h2 {
      border-bottom: 3px solid #C66005;
      display: inline-block; }
    .service-page .page-body .body-content p {
      line-height: 1.5em; }
    .service-page .page-body .body-content ul {
      list-style: none; }
      .service-page .page-body .body-content ul li {
        line-height: 1.5em;
        padding: .5em 0; }
      .service-page .page-body .body-content ul img {
        position: relative;
        top: .4em;
        height: 1.5em;
        margin-right: 0.2em; }
