h1 {
  font-family: 'Bree Serif', serif;
  font-size: 2.8em;
  font-weight: 300;
  margin: 0; }

h2 {
  font-family: 'Bree Serif', serif;
  font-size: 2.3em;
  font-weight: normal;
  margin: 0;
  color: #4c4517; }

h3 {
  font-size: 1.6em;
  font-weight: normal;
  margin: 0; }

h4 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
  color: #75702b; }

p,
li,
span {
  line-height: 1.5em; }

p {
  color: #404040; }

input,
textarea,
select,
option {
  font-family: "Poppins", sans-serif; }

a {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }
  a:active {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none; }

.anchor {
  position: relative;
  top: -75px;
  display: block;
  visibility: hidden; }

.btn {
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  border-radius: 4px;
  display: inline-block;
  padding: .5em 1em;
  color: #fff;
  background-color: #c66005;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .btn:hover {
    background-color: #e46e06;
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .btn.strategy-and-consulting {
    background-color: #a89e00; }
    .btn.strategy-and-consulting:hover {
      background-color: #c7bb00; }
  .btn.data-optimization {
    background-color: #4c4517; }
    .btn.data-optimization:hover {
      background-color: #635a1e; }
  .btn.teleservices {
    background-color: #7fadc2; }
    .btn.teleservices:hover {
      background-color: #94bacc; }
  .btn.marketing-automation {
    background-color: #4c779c; }
    .btn.marketing-automation:hover {
      background-color: #5986ae; }
  .btn.campaigns-and-content {
    background-color: #f9a718; }
    .btn.campaigns-and-content:hover {
      background-color: #fab236; }

.header-image-md {
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  min-height: 60vh;
  background-position: 50% 50%;
  background-size: cover; }
  @media (min-width: 992px) {
    .header-image-md {
      position: fixed; } }

.header-content-container-md {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 40vh;
  padding: 20px 2vw;
  align-items: stretch; }
  .header-content-container-md .header-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 80px;
    align-items: stretch; }
    .header-content-container-md .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 4px;
      flex-direction: column;
      width: 100%;
      border: 3px solid #fff;
      flex-basis: auto;
      align-items: center;
      justify-content: center; }
      .header-content-container-md .header-content .header-border .inner-content {
        width: 90%;
        padding: 2vw;
        color: #fff; }
        .header-content-container-md .header-content .header-border .inner-content h1 {
          font-family: 'lato', sans-serif;
          margin: 0 auto;
          text-align: center; }
        @media (min-width: 768px) {
          .header-content-container-md .header-content .header-border .inner-content {
            width: 70%; } }

.container {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }
.container-fluid {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }
html,
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  color: #404040; }

.main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  flex-direction: column;
  width: 100%;
  min-height: 80px;
  background-color: white;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  justify-content: space-between; }
  @media (min-width: 768px) {
    .main-nav {
      flex-direction: row;
      height: 80px; } }
  .main-nav .nav-img {
    position: relative;
    left: 2vw;
    max-height: 80px; }
    .main-nav .nav-img a {
      display: inline-block; }
    .main-nav .nav-img img {
      height: 80px; }
  .main-nav .nav-links {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    overflow: hidden;
    flex-direction: column;
    width: 100%;
    max-height: 0;
    margin: 0;
    padding: 0;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    align-items: stretch; }
    .main-nav .nav-links .nav-link {
      text-decoration: none;
      color: #75702b; }
    .main-nav .nav-links .nav-item {
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      font-size: 1.2em;
      display: block;
      box-sizing: border-box;
      height: 100%;
      cursor: pointer;
      vertical-align: middle;
      text-decoration: none;
      color: #75702b; }
      .main-nav .nav-links .nav-item.active {
        background-color: rgba(76, 69, 23, 0.1); }
      .main-nav .nav-links .nav-item:hover {
        background-color: rgba(76, 69, 23, 0.1); }
      @media (max-width: 768px) {
        .main-nav .nav-links .nav-item.expand {
          background-color: rgba(76, 69, 23, 0.1); }
          .main-nav .nav-links .nav-item.expand .dropdown {
            height: auto;
            border-bottom: 1px solid #dee3e5; } }
      .main-nav .nav-links .nav-item.expand .nav-label .dropdown-arrow svg {
        -webkit-transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -o-transform: rotate(180deg);
        transform: rotate(180deg); }
      .main-nav .nav-links .nav-item .nav-label {
        height: 45px;
        padding: 20px 0 0 1em; }
        .main-nav .nav-links .nav-item .nav-label .dropdown-arrow {
          -webkit-transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          transition: 0.1s linear;
          position: relative;
          right: 5%;
          float: right; }
          .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg {
            width: 1em; }
            .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg path {
              fill: #75702b; }
      .main-nav .nav-links .nav-item .dropdown {
        position: static;
        overflow: hidden;
        width: 100%;
        height: 0;
        text-align: left;
        background-color: #fff; }
        .main-nav .nav-links .nav-item .dropdown .dropdown-links {
          margin: 0;
          padding: 0;
          list-style: none;
          list-style-position: inside; }
          .main-nav .nav-links .nav-item .dropdown .dropdown-links a {
            text-decoration: none;
            color: #75702b; }
          .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
            -webkit-transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            transition: 0.1s linear;
            margin: 0;
            padding: 1em 0 1em 3em;
            text-decoration: none; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link:hover {
              background-color: rgba(76, 69, 23, 0.1); }
    .main-nav .nav-links.expand {
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      max-height: 800px; }
    @media (min-width: 768px) {
      .main-nav .nav-links {
        flex-direction: row;
        width: auto;
        height: 80px;
        max-height: 80px;
        padding: 0 35px;
        box-shadow: none; }
        .main-nav .nav-links .nav-item {
          border-bottom: 3px solid #fff; }
          .main-nav .nav-links .nav-item .nav-label {
            width: auto;
            padding: 25px 1em 0 1em;
            text-align: center; }
          .main-nav .nav-links .nav-item.active {
            border-bottom: 3px solid #75702b;
            background-color: #fff; }
          .main-nav .nav-links .nav-item:hover {
            border-bottom: 3px solid #75702b;
            background-color: rgba(76, 69, 23, 0.1); }
            .main-nav .nav-links .nav-item:hover .dropdown {
              height: auto;
              box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
          .main-nav .nav-links .nav-item .dropdown {
            position: absolute;
            top: 80px;
            width: auto;
            height: 0;
            text-align: left;
            border-radius: 0 0 4px 4px; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links {
              padding: 0; }
              .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
                padding: .5em 1em; } }
  .main-nav .nav-menu {
    position: fixed;
    top: 25px;
    right: 2vw;
    float: right;
    width: 40px;
    height: 30px;
    cursor: pointer; }
    .main-nav .nav-menu .menu-bar {
      border-radius: 4px;
      width: 30px;
      height: 3px;
      margin: 5px auto;
      background-color: #dee3e5; }

.footer {
  width: 100%;
  padding-top: 40px;
  background-color: #4c4517;
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .footer .footer-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between; }
    .footer .footer-content .footer-links {
      width: 45%; }
      @media (max-width: 575px) {
        .footer .footer-content .footer-links.footer-services {
          width: 100%;
          margin-bottom: 1em; } }
      .footer .footer-content .footer-links .footer-links-header {
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: .2em;
        border-bottom: 3px solid #ede100; }
      .footer .footer-content .footer-links ul {
        font-weight: lighter;
        margin: .5em 0;
        padding: 0;
        list-style: none; }
        .footer .footer-content .footer-links ul li {
          margin: 5px 0; }
          .footer .footer-content .footer-links ul li a {
            text-decoration: none;
            color: white; }
            .footer .footer-content .footer-links ul li a:hover {
              text-decoration: underline; }
    .footer .footer-content .footer-logo {
      font-weight: lighter;
      width: 100%;
      padding: 20px 0;
      text-align: right;
      color: #ede100; }
      .footer .footer-content .footer-logo img {
        height: 80px; }
      .footer .footer-content .footer-logo a {
        text-decoration: none;
        color: #ede100; }
    @media (min-width: 576px) {
      .footer .footer-content {
        justify-content: space-between; }
        .footer .footer-content .footer-links {
          width: 30%;
          margin-right: 0; } }
    @media (min-width: 768px) {
      .footer .footer-content {
        justify-content: flex-start; }
        .footer .footer-content .footer-links {
          width: 25%;
          margin-right: 1em; } }

.page-body {
  padding: 40px 0;
  background-color: #fff; }
  .page-body .body-content h2 {
    display: inline-block;
    margin-bottom: 20px;
    border-bottom: 3px solid #c66005; }
    .page-body .body-content h2.sc {
      border-bottom: 3px solid #a89e00; }
    .page-body .body-content h2.cc {
      border-bottom: 3px solid #f9a718; }
    .page-body .body-content h2.ma {
      border-bottom: 3px solid #4c779c; }
    .page-body .body-content h2.do {
      border-bottom: 3px solid #4c4517; }
    .page-body .body-content h2.tel {
      border-bottom: 3px solid #7fadc2; }
  .page-body .body-content p {
    line-height: 1.5em; }
  .page-body .body-content .service-list {
    padding-left: 5%;
    list-style: none; }
    .page-body .body-content .service-list li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      line-height: 1.5em;
      padding: 1em 0;
      align-content: center; }
    .page-body .body-content .service-list img {
      height: 1.5em;
      margin-right: .2em; }
  .page-body .body-content a {
    text-decoration: none;
    color: #c66005; }
    .page-body .body-content a:hover {
      text-decoration: underline; }

.featured-content-section {
  padding: 40px 0; }
  .featured-content-section h3 {
    font-family: 'Bree Serif', serif;
    display: inline-block;
    color: #4c4517;
    border-bottom: 3px solid #c66005; }
    .featured-content-section h3.sc {
      border-bottom: 3px solid #a89e00; }
    .featured-content-section h3.cc {
      border-bottom: 3px solid #f9a718; }
    .featured-content-section h3.ma {
      border-bottom: 3px solid #4c779c; }
    .featured-content-section h3.do {
      border-bottom: 3px solid #4c4517; }
    .featured-content-section h3.tel {
      border-bottom: 3px solid #7fadc2; }
  .featured-content-section .featured-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    margin-top: 2em;
    flex-wrap: wrap;
    align-items: stretch; }
    .featured-content-section .featured-content .fc {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1em 0 2em 0;
      border-bottom: 1px solid #dee3e5; }
      .featured-content-section .featured-content .fc:last-child {
        border-bottom: none; }
      .featured-content-section .featured-content .fc h4 a {
        color: #75702b;
        text-decoration: none; }
      @media (min-width: 992px) {
        .featured-content-section .featured-content .fc {
          width: 33%;
          padding: 0 1em;
          border-right: 1px solid #dee3e5;
          border-bottom: none; }
          .featured-content-section .featured-content .fc:first-child {
            padding: 0 1em 0 0; }
          .featured-content-section .featured-content .fc:last-child {
            padding: 0 0 0 1em;
            border-right: none; }
            .featured-content-section .featured-content .fc:last-child:first-child {
              padding: 0; } }
      .featured-content-section .featured-content .fc .fc-cta {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        flex-grow: 10;
        margin-top: 15px;
        align-items: flex-end; }
        .featured-content-section .featured-content .fc .fc-cta a {
          text-decoration: none; }
  .featured-content-section .resource-btn {
    border-radius: 4px;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    display: inline-block;
    margin-top: 20px;
    padding: 5px;
    text-decoration: none;
    color: #404040;
    background-color: rgba(76, 69, 23, 0.1); }
    .featured-content-section .resource-btn:hover {
      background-color: rgba(76, 69, 23, 0.3); }

.pagination {
  display: inline-block;
  margin: 1.5em 0 1.5em 0;
  padding: 0;
  list-style-type: none; }
  .pagination a {
    text-decoration: none;
    color: #4c4517; }
  .pagination li {
    float: left;
    margin: 0 .2em;
    padding: .5em 0; }
    .pagination li.page-number {
      padding: .5em;
      border-radius: 2px;
      background-color: rgba(76, 69, 23, 0.1); }
      .pagination li.page-number.active {
        background-color: #75702b; }
        .pagination li.page-number.active a {
          text-decoration: none;
          color: #fff; }
    .pagination li path {
      position: relative;
      top: 3px;
      fill: #75702b; }
    .pagination li.disabled path {
      fill: #dee3e5; }

#flash-messages {
  position: absolute;
  top: 120px;
  display: inline-block; }
  #flash-messages div {
    border-radius: 4px;
    padding: 1em;
    background-color: white;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }

.category-link {
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 15px; }
  .category-link a {
    text-decoration: none;
    color: #c66005; }
    .category-link a:hover {
      text-decoration: underline; }
  .category-link.strategy-and-consulting {
    background-color: rgba(168, 158, 0, 0.2); }
    .category-link.strategy-and-consulting a {
      color: #a89e00; }
  .category-link.campaigns-and-content {
    background-color: rgba(249, 167, 24, 0.2); }
    .category-link.campaigns-and-content a {
      color: #f9a718; }
  .category-link.marketing-automation {
    background-color: rgba(76, 119, 156, 0.2); }
    .category-link.marketing-automation a {
      color: #4c779c; }
  .category-link.data-optimization {
    background-color: rgba(117, 112, 43, 0.2); }
    .category-link.data-optimization a {
      color: #75702b; }
  .category-link.teleservices {
    background-color: rgba(127, 173, 194, 0.2); }
    .category-link.teleservices a {
      color: #7fadc2; }

.homepage .header-image {
  -webkit-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  transition: 0.1s linear;
  position: absolute;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/headers/homepage-min.jpg");
  background-position: 50% 100%;
  background-size: cover; }
  @media (min-width: 992px) {
    .homepage .header-image {
      position: fixed; } }
.homepage .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 100vh;
  align-items: stretch; }
  .homepage .header-content-container .header-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    margin-top: 80px;
    padding: 10px 2vw;
    align-items: stretch; }
    .homepage .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 4px;
      flex-direction: column;
      width: 100%;
      border: 3px solid #fff;
      align-items: center;
      justify-content: center;
      flex-basis: auto; }
      .homepage .header-content-container .header-content .header-border .inner-content {
        padding: 5px 15px;
        color: #fff; }
        .homepage .header-content-container .header-content .header-border .inner-content .header-button {
          -webkit-transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          transition: 0.1s linear;
          border-radius: 4px;
          font-size: 1.3em;
          display: none;
          margin-top: 1em;
          padding: .5em 1.5em;
          text-decoration: none;
          color: #fff;
          border: 3px solid #fff;
          background-color: rgba(198, 96, 5, 0.5); }
          .homepage .header-content-container .header-content .header-border .inner-content .header-button:hover {
            background-color: #c66005; }
          @media (min-width: 768px) {
            .homepage .header-content-container .header-content .header-border .inner-content .header-button {
              display: inline-block; } }
        @media (min-width: 768px) {
          .homepage .header-content-container .header-content .header-border .inner-content {
            padding: 20px 5px; } }
      @media (min-width: 768px) {
        .homepage .header-content-container .header-content .header-border {
          padding: 5%; } }
      .homepage .header-content-container .header-content .header-border .arrow {
        position: absolute;
        margin: auto;
        bottom: 45px;
        cursor: pointer; }
        .homepage .header-content-container .header-content .header-border .arrow svg {
          width: 2em; }
          .homepage .header-content-container .header-content .header-border .arrow svg path {
            fill: #fff; }
    @media (min-width: 768px) {
      .homepage .header-content-container .header-content {
        padding: 40px 2vw; } }
.homepage .page-body {
  padding: 40px 0 0 0;
  background-color: #fff; }
  .homepage .page-body .intro h2 {
    margin-bottom: 20px; }
  .homepage .page-body .intro ul {
    margin-bottom: 40px;
    padding-left: 5%;
    list-style: none; }
    .homepage .page-body .intro ul li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      line-height: 1.5em;
      padding: 1em 0;
      align-content: center; }
    .homepage .page-body .intro ul img {
      height: 1.5em;
      margin-right: .2em; }
  .homepage .page-body .intro .section-break {
    transition: opacity 2s, transform 1.5s;
    position: relative;
    margin-top: 40px; }
    @media (min-width: 992px) {
      .homepage .page-body .intro .section-break {
        margin-top: 80px; } }
    .homepage .page-body .intro .section-break .break-line {
      position: absolute;
      top: 10px;
      width: 100%;
      height: 3px;
      background-color: #dee3e5; }
    .homepage .page-body .intro .section-break .break-arrow {
      display: inline-block;
      width: 100%;
      text-align: center;
      text-align: center;
      background-color: white; }
      .homepage .page-body .intro .section-break .break-arrow svg {
        width: 24px; }
        .homepage .page-body .intro .section-break .break-arrow svg path {
          fill: #dee3e5; }
      .homepage .page-body .intro .section-break .break-arrow .arrow-img {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        position: relative;
        right: -50%;
        background-color: white;
        align-items: center; }
        .homepage .page-body .intro .section-break .break-arrow .arrow-img svg {
          position: relative;
          padding: 0 .3em;
          background-color: #fff; }
.homepage .services-section {
  margin: 40px 0 40px 0;
  padding: 0 5%;
  overflow: hidden; }
  @media (min-width: 992px) {
    .homepage .services-section {
      margin-top: 80px; } }
  .homepage .services-section .services-help {
    margin-bottom: 2em; }
    .homepage .services-section .services-help .dropdown-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .homepage .services-section .services-help .dropdown-container .header {
        transition: 1s opacity, 1s transform;
        font-size: 1.9em;
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1em; }
      .homepage .services-section .services-help .dropdown-container #services-help-dropdown {
        transition: opacity 2s, transform 1.5s;
        border-radius: 4px;
        position: relative;
        min-width: 200px;
        flex-grow: 2; }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          transition: 0.1s linear;
          border-radius: 4px;
          position: relative;
          height: 50px;
          padding-left: 15px;
          cursor: pointer;
          color: #fff;
          background-color: #c66005;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          flex-direction: row;
          align-items: center; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .static {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            font-size: 1.3em;
            color: white;
            text-decoration: none;
            height: 100%;
            flex-direction: column;
            justify-content: center; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .dynamic-text {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-transition: 0.5s linear;
            -moz-transition: 0.5s linear;
            -o-transition: 0.5s linear;
            transition: 0.5s linear;
            color: white;
            text-decoration: none;
            font-size: 1.2em;
            opacity: 1;
            flex: 2 0 auto;
            height: 100%;
            flex-direction: column;
            justify-content: center; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .dynamic-text.hidden {
              opacity: 0; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .spacer {
            flex: 4 0 auto; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .arrow {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            padding: 15px;
            align-items: center;
            flex: 0 0 auto;
            height: 100%;
            align-items: center; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .arrow #services-help-arrow {
              -webkit-transition: 0.1s linear;
              -moz-transition: 0.1s linear;
              -o-transition: 0.1s linear;
              transition: 0.1s linear; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn:hover {
            background-color: #e46e06;
            box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options {
          border-radius: 4px;
          -webkit-transition: 0.3s linear;
          -moz-transition: 0.3s linear;
          -o-transition: 0.3s linear;
          transition: 0.3s linear;
          position: absolute;
          overflow: hidden;
          width: 100%;
          max-height: 0;
          background-color: #fff;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          flex-basis: 100%; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul {
            margin: 0;
            padding: 0;
            list-style: none; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul a {
              text-decoration: none;
              color: #404040; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul li {
              padding: .5em;
              border-bottom: 1px solid #dee3e5; }
              .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul li:hover {
                background-color: rgba(76, 69, 23, 0.1); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand .dropdown-btn {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand .dropdown-options {
          max-height: 600px; }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand #services-help-arrow {
          transform: rotate(180deg); }
      @media (min-width: 1200px) {
        .homepage .services-section .services-help .dropdown-container {
          flex-direction: row; }
          .homepage .services-section .services-help .dropdown-container .header {
            margin-bottom: 0; }
          .homepage .services-section .services-help .dropdown-container .dropdown {
            min-height: 0; } }
  .homepage .services-section .services-capabilities {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; }
    .homepage .services-section .services-capabilities a {
      display: inline-block;
      text-decoration: none;
      color: #fff; }
    .homepage .services-section .services-capabilities .capability {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      transition: 0.1s linear;
      border-radius: 4px;
      flex-direction: column;
      margin: 1em;
      padding: 1em;
      cursor: pointer;
      color: #fff;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      flex-basis: 100%;
      justify-content: space-evenly; }
      .homepage .services-section .services-capabilities .capability h3 {
        font-size: 1.4em;
        text-align: center; }
      .homepage .services-section .services-capabilities .capability p {
        color: #fff; }
      .homepage .services-section .services-capabilities .capability .img-holder {
        margin-bottom: 1em;
        text-align: center; }
      .homepage .services-section .services-capabilities .capability .btn-holder {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: flex-end;
        flex-grow: 2; }
        .homepage .services-section .services-capabilities .capability .btn-holder .capability-btn {
          -webkit-transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          transition: 0.1s linear;
          border-radius: 4px;
          font-size: 1.2em;
          font-weight: 700;
          display: inline-block;
          margin: 0 auto;
          padding: .5em 2em;
          color: #fff;
          border: 3px solid #fff; }
      .homepage .services-section .services-capabilities .capability.sc {
        background-color: #a89e00; }
        .homepage .services-section .services-capabilities .capability.sc:hover .capability-btn {
          color: #a89e00; }
        @media (min-width: 992px) {
          .homepage .services-section .services-capabilities .capability.sc {
            transition-delay: 0; } }
      .homepage .services-section .services-capabilities .capability.do {
        background-color: #4c4517; }
        .homepage .services-section .services-capabilities .capability.do:hover .capability-btn {
          color: #4c4517; }
        @media (min-width: 992px) {
          .homepage .services-section .services-capabilities .capability.do {
            transition-delay: 0.3s; } }
      .homepage .services-section .services-capabilities .capability.tel {
        background-color: #7fadc2; }
        .homepage .services-section .services-capabilities .capability.tel:hover .capability-btn {
          color: #7fadc2; }
        @media (min-width: 992px) {
          .homepage .services-section .services-capabilities .capability.tel {
            transition-delay: 0.4s; } }
      .homepage .services-section .services-capabilities .capability.ma {
        background-color: #4c779c; }
        .homepage .services-section .services-capabilities .capability.ma:hover .capability-btn {
          color: #4c779c; }
        @media (min-width: 992px) {
          .homepage .services-section .services-capabilities .capability.ma {
            transition-delay: 0.2s; } }
      .homepage .services-section .services-capabilities .capability.cc {
        background-color: #f9a718; }
        .homepage .services-section .services-capabilities .capability.cc:hover .capability-btn {
          color: #f9a718; }
        @media (min-width: 992px) {
          .homepage .services-section .services-capabilities .capability.cc {
            transition-delay: 0.1s; } }
      .homepage .services-section .services-capabilities .capability:hover {
        box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .homepage .services-section .services-capabilities .capability:hover .capability-btn {
          background-color: white; }
      @media (min-width: 576px) {
        .homepage .services-section .services-capabilities .capability {
          flex-basis: 70%; } }
      @media (min-width: 815px) {
        .homepage .services-section .services-capabilities .capability {
          flex-basis: 300px; } }
    @media (min-width: 1500px) {
      .homepage .services-section .services-capabilities {
        flex-wrap: nowrap; } }
.homepage .contact-section {
  background-color: rgba(76, 69, 23, 0.1);
  overflow: hidden; }
  .homepage .contact-section .contact-content {
    display: block;
    padding-top: 50px;
    padding-bottom: 50px; }
    .homepage .contact-section .contact-content h2 {
      display: inline-block;
      border-bottom: 3px solid #c66005; }
    .homepage .contact-section .contact-content .contact-button {
      font-size: 1.3em;
      padding: .5em 2em; }
    .homepage .contact-section .contact-content p {
      margin: 2em 0; }
    @media (min-width: 890px) {
      .homepage .contact-section .contact-content {
        padding-top: 100px;
        padding-bottom: 100px; } }
  @media (min-width: 890px) and (max-width: 992px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; } }
  @media (min-width: 1125px) and (max-width: 1200px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; } }
  @media (min-width: 1310px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: contain; } }
  @media (min-width: 1550px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-repeat: no-repeat;
      background-position: left;
      background-size: cover; } }
.homepage .category-link {
  border-radius: 4px;
  padding: 5px;
  display: inline-block;
  margin-bottom: 15px; }
.homepage .featured-content-section {
  overflow: hidden; }

#hp-intro #bullet1 {
  transition-delay: 0s; }
#hp-intro #bullet2 {
  transition-delay: .1s; }
#hp-intro #bullet3 {
  transition-delay: .2s; }
#hp-intro #bullet4 {
  transition-delay: .3s; }

.service-page .featured-content-section {
  background-color: #e9e8e2; }
  .service-page .featured-content-section .fc {
    border-bottom: 1px solid #ccc; }
    @media (min-width: 992px) {
      .service-page .featured-content-section .fc {
        border-right: 1px solid #ccc;
        border-bottom: none; } }
.service-page .quote {
  border-radius: 4px;
  padding: 15px;
  margin: 30px 0; }
  .service-page .quote.sc {
    background-color: rgba(168, 158, 0, 0.2);
    border-left: 5px solid #a89e00; }
  .service-page .quote .highlight {
    color: #a89e00; }
  .service-page .quote .quote-info {
    text-align: right; }

.resources-page .header-image {
  position: fixed;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 40%;
  background-size: cover; }
.resources-page .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 40vh;
  align-items: stretch; }
  .resources-page .header-content-container .header-content {
    width: 100%;
    margin-top: 80px;
    padding: 2%; }
    .resources-page .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 4px;
      flex-direction: column;
      height: 100%;
      border: 3px solid #fff;
      align-items: center;
      justify-content: center; }
      .resources-page .header-content-container .header-content .header-border .inner-content {
        padding: 2em;
        color: #fff; }
        .resources-page .header-content-container .header-content .header-border .inner-content h1 {
          font-family: 'Poppins', sans-serif;
          width: 90%;
          margin: 0 auto; }
          @media (min-width: 768px) {
            .resources-page .header-content-container .header-content .header-border .inner-content h1 {
              width: 60%; } }
.resources-page .resources {
  background-color: #fff; }
  .resources-page .resources .resources-filters {
    padding-top: 1.5em;
    text-align: right;
    background-color: #fff; }
    .resources-page .resources .resources-filters .filter-dropdown {
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
      border-radius: 4px;
      position: absolute;
      z-index: 9;
      right: 15px;
      display: inline-block;
      overflow: hidden;
      max-height: 40px;
      border: 1px solid #dee3e5;
      background-color: #fff; }
      .resources-page .resources .resources-filters .filter-dropdown a {
        text-decoration: none;
        color: #404040; }
      .resources-page .resources .resources-filters .filter-dropdown svg {
        height: 12px; }
        .resources-page .resources .resources-filters .filter-dropdown svg path {
          fill: #75702b; }
      .resources-page .resources .resources-filters .filter-dropdown .selected-filter {
        padding: .5em;
        cursor: pointer;
        border-bottom: 1px solid #dee3e5; }
      .resources-page .resources .resources-filters .filter-dropdown .filter {
        -webkit-transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        transition: 0.1s linear;
        padding: .5em 1em;
        color: #404040; }
        .resources-page .resources .resources-filters .filter-dropdown .filter:hover {
          background-color: rgba(76, 69, 23, 0.1); }
      .resources-page .resources .resources-filters .filter-dropdown.expand {
        max-height: 310px; }
        .resources-page .resources .resources-filters .filter-dropdown.expand .selected-filter {
          border-bottom: 1px solid #dee3e5; }
          .resources-page .resources .resources-filters .filter-dropdown.expand .selected-filter svg {
            -webkit-transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -o-transform: rotate(180deg);
            transform: rotate(180deg); }
      @media (min-width: 768px) {
        .resources-page .resources .resources-filters .filter-dropdown {
          right: 0; } }
  .resources-page .resources .resources-container .resources-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: #fff;
    flex-wrap: wrap; }
    .resources-page .resources .resources-container .resources-content .resource {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1em 0 2em 0;
      border-bottom: 1px solid #dee3e5; }
      .resources-page .resources .resources-container .resources-content .resource h4 a {
        color: #75702b;
        text-decoration: none; }
      .resources-page .resources .resources-container .resources-content .resource:last-child {
        border-bottom: none; }
      .resources-page .resources .resources-container .resources-content .resource .btn-cat-row {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between; }
      .resources-page .resources .resources-container .resources-content .resource .category-link {
        margin-top: 1em; }

.about-page .header-image-md {
  background-image: url("/images/headers/about-min.jpg");
  background-position: 50% 20%; }
.about-page .intro {
  font-size: 1.2em;
  margin-top: 50px;
  margin-bottom: 50px; }
  .about-page .intro strong {
    color: #4c4517; }
.about-page .client-section .quote-container {
  border-radius: 4px;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 3%;
  min-height: 650px;
  background-color: rgba(76, 69, 23, 0.1); }
  @media (min-width: 768px) {
    .about-page .client-section .quote-container {
      min-height: 450px; } }
  @media (min-width: 992px) {
    .about-page .client-section .quote-container {
      min-height: 350px; } }
  .about-page .client-section .quote-container .quote {
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    opacity: 1;
    align-items: flex-start; }
    .about-page .client-section .quote-container .quote p {
      line-height: 2em; }
    .about-page .client-section .quote-container .quote.hidden {
      opacity: 0; }
    .about-page .client-section .quote-container .quote .quotemark {
      font-weight: 700px;
      color: #c66005; }
  .about-page .client-section .quote-container .client-info {
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
    margin-top: 1em;
    margin-bottom: 50px;
    text-align: right;
    opacity: 1; }
    .about-page .client-section .quote-container .client-info .client-name {
      font-size: 1.2em; }
      .about-page .client-section .quote-container .client-info .client-name .mdash {
        font-weight: 700;
        color: #c66005; }
    .about-page .client-section .quote-container .client-info.hidden {
      opacity: 0; }
  .about-page .client-section .quote-container .controls {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 1em;
    position: absolute;
    bottom: 15px;
    width: 100%;
    align-items: center;
    justify-content: center; }
    .about-page .client-section .quote-container .controls .dot {
      -webkit-transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      transition: 0.2s linear;
      width: .75em;
      height: .75em;
      margin: .2em;
      cursor: pointer;
      opacity: .20;
      border-radius: 50%;
      background-color: #4c4517; }
      .about-page .client-section .quote-container .controls .dot.active {
        opacity: 1;
        background-color: #c66005; }
      .about-page .client-section .quote-container .controls .dot:hover {
        opacity: .5; }
    .about-page .client-section .quote-container .controls img {
      position: relative;
      top: 2px;
      height: 100%; }
    .about-page .client-section .quote-container .controls .arrow {
      border-radius: 4px;
      padding: .1em;
      cursor: pointer; }
      .about-page .client-section .quote-container .controls .arrow:hover {
        background-color: rgba(76, 69, 23, 0.1); }
.about-page .client-section .logo-container {
  margin: 0 -25px;
  text-align: center; }
  .about-page .client-section .logo-container .client-logo {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    width: 20%;
    min-width: 200px;
    height: 90px;
    margin: 15px 25px;
    text-align: center;
    align-items: center;
    justify-content: center; }
    .about-page .client-section .logo-container .client-logo img {
      max-width: 190px;
      max-height: 80px; }
.about-page .team-section {
  margin-top: 40px;
  background-color: #e9e8e2; }
  .about-page .team-section .header-row {
    text-align: center; }
    .about-page .team-section .header-row.executive {
      padding-top: 15px; }
    .about-page .team-section .header-row h2 {
      margin-bottom: 0; }
    @media (min-width: 1200px) {
      .about-page .team-section .header-row {
        text-align: left; } }
  .about-page .team-section .team {
    padding: 1em 0; }
  .about-page .team-section .team-member-holder {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 1200px) {
      .about-page .team-section .team-member-holder {
        justify-content: flex-start; } }
  .about-page .team-section .team-member {
    border-radius: 4px;
    -webkit-transition: 0.1s linear;
    -moz-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    overflow: hidden;
    max-width: 262px;
    margin: 1em 15px;
    cursor: pointer;
    text-align: left;
    border-bottom: 5px solid #fff;
    background-color: #fff;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    flex: 1 1 250px; }
    .about-page .team-section .team-member .team-photo {
      position: relative; }
      .about-page .team-section .team-member .team-photo img {
        width: 100%; }
      .about-page .team-section .team-member .team-photo .cover {
        position: absolute;
        z-index: 8;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(76, 69, 23, 0.2); }
    .about-page .team-section .team-member .team-info {
      padding: .5em; }
      .about-page .team-section .team-member .team-info .team-name {
        font-size: 1.3em;
        font-weight: 300; }
    .about-page .team-section .team-member.active {
      border-bottom: 5px solid #4c4517;
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .about-page .team-section .team-member:hover {
      box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .about-page .team-section .divider {
    overflow: hidden;
    width: 0;
    max-height: 0; }
    .about-page .team-section .divider.dividing {
      width: 100%;
      height: 1;
      padding-right: 15px;
      padding-left: 15px;
      -webkit-transition: max-height .3s linear, padding .3s linear;
      -moz-transition: max-height .3s linear, padding .3s linear;
      -o-transition: max-height .3s  linear, padding .3s linear;
      transition: max-height .3s linear, padding .3s linear;
      will-change: max-height; }
      .about-page .team-section .divider.dividing.visible {
        max-height: 550px;
        padding-bottom: 15px; }
        @media (min-width: 561px) {
          .about-page .team-section .divider.dividing.visible {
            max-height: 350px; } }
        @media (min-width: 992px) {
          .about-page .team-section .divider.dividing.visible {
            max-height: 200px; } }
        @media (min-width: 1200px) {
          .about-page .team-section .divider.dividing.visible {
            max-height: 200px; } }
      .about-page .team-section .divider.dividing .text {
        -webkit-transition: 0.2s ease-in-out;
        -moz-transition: 0.2s ease-in-out;
        -o-transition: 0.2s ease-in-out;
        transition: 0.2s ease-in-out;
        border-radius: 4px;
        padding: 1em;
        color: #fff;
        background-color: #fff;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .about-page .team-section .divider.dividing .text.visible {
          color: #404040; }
  @media (min-width: 992px) {
    .about-page .team-section .executive-team {
      text-align: left; }
      .about-page .team-section .executive-team .team-member {
        max-width: 300px; }
      .about-page .team-section .executive-team .team-member-holder {
        justify-content: space-between; } }
.about-page .building-section h2 {
  margin: 1em 0; }
.about-page .building-section p {
  margin-bottom: 1em; }
.about-page .building-section .building-history {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-page .building-section .building-history .history-text {
    border-radius: 4px; }
  .about-page .building-section .building-history .history-images {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    border-radius: 4px;
    flex-direction: row;
    width: 100%;
    min-width: 300px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    flex-wrap: wrap;
    justify-content: space-evenly; }
    .about-page .building-section .building-history .history-images .image-block {
      max-width: 300px;
      margin: 1em;
      flex: 1 1 300px; }
    .about-page .building-section .building-history .history-images img {
      border-radius: 4px;
      width: 100%; }
    .about-page .building-section .building-history .history-images .image-caption {
      border-radius: 4px;
      padding: 1em;
      background-color: rgba(76, 69, 23, 0.1); }
  @media (min-width: 992px) {
    .about-page .building-section .building-history {
      flex-direction: row-reverse;
      align-items: flex-start; }
      .about-page .building-section .building-history .history-text {
        padding: 1em;
        flex: 1 1 auto;
        background-color: rgba(76, 69, 23, 0.1); }
      .about-page .building-section .building-history .history-images {
        flex-direction: column;
        flex: 0 0 200px;
        margin-right: 1em;
        padding: 0 15px; }
        .about-page .building-section .building-history .history-images .image-block {
          width: 100%;
          margin: 15px 0;
          flex-basis: 0; } }

.contact-page .header-image-md {
  background-image: url("/images/headers/contact-min.jpg");
  background-position: 50% 10%; }

.contact-content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; }
  .contact-content .contact-info {
    margin-bottom: 30px; }
    .contact-content .contact-info a {
      color: #c66005; }
  .contact-content .contact-form {
    margin-top: 10px; }
    .contact-content .contact-form .form-group {
      width: 100%; }
      .contact-content .contact-form .form-group input,
      .contact-content .contact-form .form-group textarea {
        border-radius: 4px;
        font-size: 18px;
        width: 100%;
        margin-bottom: 10px;
        padding: 0 5px;
        border: 1px solid #dee3e5; }
      .contact-content .contact-form .form-group input {
        height: 2em; }
      .contact-content .contact-form .form-group textarea {
        height: 4em;
        resize: none; }
    .contact-content .contact-form .submit {
      font-size: 1.2em;
      cursor: pointer;
      border: none; }
  @media (min-width: 768px) {
    .contact-content {
      flex-direction: row; }
      .contact-content .contact-info {
        width: 60%;
        padding-right: 3vw; }
      .contact-content .contact-form {
        width: 40%;
        padding-left: 3vw; } }

.map {
  height: 400px;
  background-color: #fff; }

.article-page .banner {
  margin-top: 80px;
  background-color: #c66005; }
.article-page .featured-content-section {
  background-color: #e9e8e2; }
  .article-page .featured-content-section .fc {
    border-bottom: 1px solid #ccc; }
    @media (min-width: 992px) {
      .article-page .featured-content-section .fc {
        border-right: 1px solid #ccc;
        border-bottom: none; } }
.article-page.strategy-and-consulting .banner {
  background-color: #a89e00; }
.article-page.campaigns-and-content .banner {
  background-color: #f9a718; }
.article-page.marketing-automation .banner {
  background-color: #4c779c; }
.article-page.data-optimization .banner {
  background-color: #4c4517; }
.article-page.teleservices .banner {
  background-color: #7fadc2; }
.article-page .body-content .article-title {
  margin-bottom: 0;
  margin-top: 50px; }

.back-btn {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
  align-items: center; }
  .back-btn svg {
    width: 100%; }
    .back-btn svg path {
      fill: #fff; }
  .back-btn img {
    height: 10px;
    margin-right: 10px; }

.breadcrumbs {
  color: #fff;
  padding: 10px 15px; }
  .breadcrumbs a {
    color: #fff;
    text-decoration: none; }
    .breadcrumbs a:hover {
      text-decoration: underline; }
  @media (min-width: 576px) {
    .breadcrumbs {
      padding: 10px 0; } }

.gate-cover {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition: 0.2s linear;
  -moz-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  background-color: rgba(76, 69, 23, 0.95);
  align-items: center;
  justify-content: center; }
  .gate-cover .gate-form-holder {
    border-radius: 4px;
    width: 800px;
    max-width: 95vw;
    padding: 15px;
    background-color: white;
    box-shadow: 1px 0 13px 5px rgba(0, 0, 0, 0.26), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .gate-cover .gate-form-holder .form-header {
      margin: 20px 0;
      text-align: center; }
    .gate-cover .gate-form-holder .form-group {
      width: 100%; }
      .gate-cover .gate-form-holder .form-group input,
      .gate-cover .gate-form-holder .form-group textarea {
        border-radius: 4px;
        font-size: 18px;
        box-sizing: border-box;
        width: 100%;
        margin-bottom: 10px;
        padding: 0 5px;
        border: 1px solid #dee3e5; }
      .gate-cover .gate-form-holder .form-group input {
        height: 2em; }
      .gate-cover .gate-form-holder .form-group textarea {
        height: 4em;
        resize: none; }
    .gate-cover .gate-form-holder .form-actions {
      margin-top: 20px;
      text-align: center; }
    .gate-cover .gate-form-holder .submit {
      font-size: 1.2em;
      cursor: pointer;
      border: none; }
  .gate-cover.visible {
    opacity: 1; }

.article-content p,
.article-content li {
  font-family: "Poppins", sans-serif !important;
  font-size: 18px;
  color: #404040 !important;
  line-height: 1.8em; }
.article-content p.well {
  padding: 15px; }
.article-content h4 {
  font-weight: 700;
  margin-top: 50px; }
.article-content img {
  max-width: calc(100% - 15px); }
.article-content .well {
  border-radius: 4px;
  background-color: rgba(76, 69, 23, 0.1) !important; }
.article-content .highlight {
  color: #c66005 !important; }
.article-content li {
  padding: 5px 0; }
.article-content .text-right {
  width: 100%;
  text-align: right;
  display: block; }

/*# sourceMappingURL=site.css.map */
