h1 {
  margin: 0;
  font-size: 2.8em;
  font-family: 'Bree Serif', serif;
  font-weight: normal; }

h2 {
  margin: 0;
  font-size: 2.3em;
  font-family: 'Bree Serif', serif;
  font-weight: normal;
  color: #4C4517; }

h3 {
  margin: 0;
  font-size: 1.6em;
  font-weight: normal; }

h4 {
  color: #75702B;
  font-size: 1.5em;
  margin: 0;
  font-weight: normal; }

p, li, span {
  line-height: 1.5em; }

p {
  color: #404040; }

.btn {
  transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  -o-transition: 0.1s linear;
  border-radius: 4px;
  background-color: #C66005;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  color: #FFFFFF;
  display: inline-block;
  padding: .5em 1em; }
  .btn:hover {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
  .btn.strategy-and-consulting {
    background-color: #A89E00; }
  .btn.data-optimization {
    background-color: #4C4517; }
  .btn.teleservices {
    background-color: #7FADC2; }
  .btn.marketing-automation {
    background-color: #4C779C; }
  .btn.campaigns-and-content {
    background-color: #F9A718; }

.header-image-md {
  background-image: url("http://via.placeholder.com/1000x1000");
  background-size: cover;
  background-position: 50% 50%;
  min-height: 60vh;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1; }

.header-content-container-md {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  min-height: 40vh;
  padding: 2vh 2vw; }
  .header-content-container-md .header-content {
    margin-top: 80px;
    width: 100%; }
    .header-content-container-md .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .header-content-container-md .header-content .header-border .inner-content {
        color: #FFFFFF;
        padding: 2vw;
        width: 90%; }
        .header-content-container-md .header-content .header-border .inner-content h1 {
          margin: 0 auto;
          font-family: 'lato', sans-serif;
          text-align: center; }
        @media (min-width: 768px) {
          .header-content-container-md .header-content .header-border .inner-content {
            width: 70%; } }

.container {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 768px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%; } }
@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%; } }
@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%; } }
@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%; } }
.container-fluid {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px; }

@media (min-width: 576px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 768px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px; } }
.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

@media (min-width: 576px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 768px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 992px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
@media (min-width: 1200px) {
  .row {
    margin-right: -15px;
    margin-left: -15px; } }
.hidden-xs-up {
  display: none !important; }

@media (max-width: 575px) {
  .hidden-xs-down {
    display: none !important; } }
@media (min-width: 576px) {
  .hidden-sm-up {
    display: none !important; } }
@media (max-width: 767px) {
  .hidden-sm-down {
    display: none !important; } }
@media (min-width: 768px) {
  .hidden-md-up {
    display: none !important; } }
@media (max-width: 991px) {
  .hidden-md-down {
    display: none !important; } }
@media (min-width: 992px) {
  .hidden-lg-up {
    display: none !important; } }
@media (max-width: 1199px) {
  .hidden-lg-down {
    display: none !important; } }
@media (min-width: 1200px) {
  .hidden-xl-up {
    display: none !important; } }
html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'lato';
  font-size: 18px;
  color: #404040; }

.main-nav {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 80px;
  width: 100%;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  background-color: white;
  z-index: 10; }
  @media (min-width: 768px) {
    .main-nav {
      height: 80px;
      flex-direction: row; } }
  .main-nav .nav-img {
    max-height: 80px;
    left: 2%; }
  .main-nav .nav-links {
    display: -webkit-inline-box;
    display: -moz-inline-box;
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    align-items: stretch;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    background-color: #FFFFFF;
    padding: 0;
    max-height: 0;
    overflow: hidden; }
    .main-nav .nav-links .nav-link {
      text-decoration: none;
      color: #75702B; }
    .main-nav .nav-links .nav-item {
      transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      color: #75702B;
      box-sizing: border-box;
      cursor: pointer;
      font-size: 1.2em;
      text-decoration: none;
      display: block;
      vertical-align: middle;
      height: 100%; }
      .main-nav .nav-links .nav-item.active {
        background-color: rgba(76, 69, 23, 0.1); }
      .main-nav .nav-links .nav-item:hover {
        background-color: rgba(76, 69, 23, 0.1); }
      @media (max-width: 768px) {
        .main-nav .nav-links .nav-item.expand {
          background-color: rgba(76, 69, 23, 0.1); }
          .main-nav .nav-links .nav-item.expand .dropdown {
            height: auto;
            border-bottom: 1px solid #DEE3E5; } }
      .main-nav .nav-links .nav-item.expand .nav-label .dropdown-arrow svg {
        transform: rotate(180deg);
        -moz-transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
        -o-transform: rotate(180deg); }
      .main-nav .nav-links .nav-item .nav-label {
        height: 45px;
        padding: 20px 0 0 1em; }
        .main-nav .nav-links .nav-item .nav-label .dropdown-arrow {
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          float: right;
          position: relative;
          right: 5%; }
          .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg {
            width: 1em; }
            .main-nav .nav-links .nav-item .nav-label .dropdown-arrow svg path {
              fill: #75702B; }
      .main-nav .nav-links .nav-item .dropdown {
        height: 0px;
        overflow: hidden;
        background-color: #FFFFFF;
        text-align: left;
        position: static;
        width: 100%; }
        .main-nav .nav-links .nav-item .dropdown .dropdown-links {
          margin: 0;
          list-style: none;
          list-style-position: inside;
          padding: 0; }
          .main-nav .nav-links .nav-item .dropdown .dropdown-links a {
            text-decoration: none;
            color: #75702B; }
          .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
            transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            margin: 0;
            text-decoration: none;
            padding: 1em 0 1em 3em; }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link:hover {
              background-color: rgba(76, 69, 23, 0.1); }
    .main-nav .nav-links.expand {
      transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      max-height: 800px; }
    @media (min-width: 768px) {
      .main-nav .nav-links {
        flex-direction: row;
        width: auto;
        padding: 0 1em;
        box-shadow: none;
        height: 80px;
        max-height: 80px; }
        .main-nav .nav-links .nav-item {
          border-bottom: 3px solid #FFFFFF; }
          .main-nav .nav-links .nav-item .nav-label {
            width: auto;
            padding: 25px 1em 0 1em;
            text-align: center; }
          .main-nav .nav-links .nav-item.active {
            border-bottom: 3px solid #75702B;
            background-color: #FFFFFF; }
          .main-nav .nav-links .nav-item:hover {
            background-color: rgba(76, 69, 23, 0.1);
            border-bottom: 3px solid #75702B; }
            .main-nav .nav-links .nav-item:hover .dropdown {
              height: auto; }
          .main-nav .nav-links .nav-item .dropdown {
            height: 0px;
            position: absolute;
            top: 80px;
            text-align: left;
            width: auto;
            border-radius: 0 0 4px 4px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
            .main-nav .nav-links .nav-item .dropdown .dropdown-links {
              padding: 0; }
              .main-nav .nav-links .nav-item .dropdown .dropdown-links .dropdown-link {
                padding: .5em 1em; } }
  .main-nav .nav-menu {
    float: right;
    height: 30px;
    width: 40px;
    position: relative;
    top: 25px;
    right: 2%;
    cursor: pointer; }
    .main-nav .nav-menu .menu-bar {
      border-radius: 4px;
      width: 30px;
      margin: 5px auto;
      height: 3px;
      background-color: #DEE3E5; }

.footer {
  background-color: #4C4517;
  padding-top: 5vh;
  box-shadow: 0 -3px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
  width: 100%; }
  .footer .footer-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between; }
    .footer .footer-content .footer-links {
      width: 45%; }
      @media (max-width: 575px) {
        .footer .footer-content .footer-links.footer-services {
          width: 100%;
          margin-bottom: 1em; } }
      .footer .footer-content .footer-links .footer-links-header {
        border-bottom: 3px solid #EDE100;
        font-size: 1.2em;
        font-weight: bold;
        padding-bottom: .2em; }
      .footer .footer-content .footer-links ul {
        list-style: none;
        margin: .5em 0;
        padding: 0;
        font-weight: lighter; }
        .footer .footer-content .footer-links ul li {
          margin: 5px 0; }
          .footer .footer-content .footer-links ul li a {
            text-decoration: none;
            color: white; }
            .footer .footer-content .footer-links ul li a:hover {
              text-decoration: underline; }
    .footer .footer-content .footer-logo {
      width: 100%;
      text-align: right;
      padding: 2vh 0;
      color: #EDE100;
      font-weight: lighter; }
      .footer .footer-content .footer-logo a {
        text-decoration: none;
        color: #EDE100; }
    @media (min-width: 576px) {
      .footer .footer-content {
        justify-content: space-between; }
        .footer .footer-content .footer-links {
          width: 30%;
          margin-right: 0; } }
    @media (min-width: 768px) {
      .footer .footer-content {
        justify-content: flex-start; }
        .footer .footer-content .footer-links {
          width: 25%;
          margin-right: 1em; } }

.featured-content-section {
  margin-top: 3em; }
  .featured-content-section h3 {
    font-family: 'Bree Serif', serif;
    color: #4C4517;
    border-bottom: 3px solid #C66005;
    display: inline-block; }
  .featured-content-section .featured-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    margin-top: 2em; }
    .featured-content-section .featured-content .fc {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-bottom: 1px solid #DEE3E5;
      padding: 1em 0 2em 0; }
      .featured-content-section .featured-content .fc:last-child {
        border-bottom: none; }
      @media (min-width: 768px) {
        .featured-content-section .featured-content .fc {
          width: 33%;
          border-bottom: none;
          border-right: 1px solid #DEE3E5;
          padding: 0 1em; }
          .featured-content-section .featured-content .fc p {
            margin-bottom: 4em; }
          .featured-content-section .featured-content .fc .fc-button {
            position: absolute;
            bottom: 0; }
          .featured-content-section .featured-content .fc:first-child {
            padding: 0 1em 0 0; }
          .featured-content-section .featured-content .fc:last-child {
            padding: 0 0 0 1em;
            border-right: none; }
            .featured-content-section .featured-content .fc:last-child:first-child {
              padding: 0; } }

.pagination {
  list-style-type: none;
  margin: 1.5em 0 1.5em 0;
  padding: 0;
  display: inline-block; }
  .pagination a {
    text-decoration: none;
    color: #4C4517; }
  .pagination li {
    float: left;
    margin: 0 .2em;
    padding: .5em 0; }
    .pagination li.page-number {
      background-color: rgba(76, 69, 23, 0.1);
      padding: .5em;
      border-radius: 2px; }
      .pagination li.page-number.active {
        background-color: #75702B; }
        .pagination li.page-number.active a {
          color: #FFFFFF;
          text-decoration: none; }
    .pagination li path {
      fill: #75702B;
      position: relative;
      top: 3px; }
    .pagination li.disabled path {
      fill: #DEE3E5; }

.homepage .header-image {
  background-image: url("http://via.placeholder.com/1000x1000");
  background-size: cover;
  background-position: 50% 50%;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1; }
.homepage .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  height: 100vh; }
  .homepage .header-content-container .header-content {
    margin-top: 80px;
    padding: 4% 2%;
    width: 100%; }
    .homepage .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .homepage .header-content-container .header-content .header-border .inner-content {
        color: #FFFFFF;
        padding: 5%; }
        .homepage .header-content-container .header-content .header-border .inner-content .header-button {
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          background-color: rgba(198, 96, 5, 0.5);
          border: 3px solid #FFFFFF;
          border-radius: 4px;
          color: #FFFFFF;
          display: inline-block;
          font-size: 1.5em;
          margin-top: 1em;
          padding: .5em 1.5em;
          text-decoration: none; }
          .homepage .header-content-container .header-content .header-border .inner-content .header-button:hover {
            background-color: #C66005; }
      .homepage .header-content-container .header-content .header-border .arrow {
        position: absolute;
        bottom: 5%;
        left: 50%; }
        .homepage .header-content-container .header-content .header-border .arrow svg {
          width: 2em; }
          .homepage .header-content-container .header-content .header-border .arrow svg path {
            fill: #FFFFFF; }
    @media (min-width: 768px) {
      .homepage .header-content-container .header-content {
        padding: 2%; } }
.homepage .page-body {
  background-color: #FFFFFF;
  padding: 3vh 0 5vh 0; }
  .homepage .page-body .intro {
    padding-bottom: 5vh; }
    .homepage .page-body .intro h2 {
      margin: 1em 0; }
    .homepage .page-body .intro ul {
      list-style: none;
      margin-bottom: 4em;
      padding-left: 5%; }
      .homepage .page-body .intro ul li {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        align-content: center;
        line-height: 1.5em;
        padding: .5em 0; }
      .homepage .page-body .intro ul img {
        height: 1.5em;
        margin-right: 0.2em; }
    .homepage .page-body .intro .section-break {
      position: relative;
      opacity: .8;
      margin-top: 2em; }
      .homepage .page-body .intro .section-break .break-line {
        height: 3px;
        width: 100%;
        background-color: #DEE3E5;
        position: absolute;
        top: 10px; }
      .homepage .page-body .intro .section-break .break-arrow {
        width: 30px;
        text-align: center;
        background-color: white;
        display: inline-block;
        position: absolute;
        top: 0;
        right: 50%; }
        .homepage .page-body .intro .section-break .break-arrow svg {
          width: 24px; }
          .homepage .page-body .intro .section-break .break-arrow svg path {
            fill: #DEE3E5; }
        .homepage .page-body .intro .section-break .break-arrow .arrow-img {
          position: relative;
          right: -50%;
          background-color: white; }
.homepage .services-section {
  margin: 5vh 0 5vh 0;
  padding: 0 5%; }
  .homepage .services-section .services-help {
    margin-bottom: 2em; }
    .homepage .services-section .services-help .dropdown-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      align-items: stretch; }
      .homepage .services-section .services-help .dropdown-container .header {
        display: inline-block;
        margin-right: 1em;
        margin-bottom: 1em;
        font-size: 1.9em; }
      .homepage .services-section .services-help .dropdown-container #services-help-dropdown {
        border-radius: 4px;
        flex-grow: 2;
        min-width: 200px;
        position: relative; }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          align-items: center;
          padding: 0 1em;
          background-color: #C66005;
          color: #FFFFFF;
          border-radius: 4px;
          position: relative;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          cursor: pointer;
          min-height: 3em; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .static {
            font-size: 1.3em; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .dynamic-text {
            transition: 0.5s linear;
            -moz-transition: 0.5s linear;
            -webkit-transition: 0.5s linear;
            -o-transition: 0.5s linear;
            font-size: 1.2em;
            opacity: 1; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .dynamic-text.hidden {
              opacity: 0; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn .arrow {
            transition: 0.1s linear;
            -moz-transition: 0.1s linear;
            -webkit-transition: 0.1s linear;
            -o-transition: 0.1s linear;
            position: absolute;
            right: 1em; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-btn:hover {
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options {
          border-radius: 4px;
          transition: 0.3s linear;
          -moz-transition: 0.3s linear;
          -webkit-transition: 0.3s linear;
          -o-transition: 0.3s linear;
          flex-basis: 100%;
          max-height: 0;
          overflow: hidden;
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
          position: absolute;
          background-color: #FFFFFF;
          width: 100%; }
          .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul {
            list-style: none;
            padding: 0;
            margin: 0; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul a {
              text-decoration: none;
              color: #404040; }
            .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul li {
              padding: 0.5em;
              border-bottom: 1px solid #DEE3E5; }
              .homepage .services-section .services-help .dropdown-container #services-help-dropdown .dropdown-options ul li:hover {
                background-color: rgba(76, 69, 23, 0.1); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand .dropdown-btn {
          box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08); }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand .dropdown-options {
          max-height: 600px; }
        .homepage .services-section .services-help .dropdown-container #services-help-dropdown.expand .arrow {
          transform: rotate(180deg); }
      @media (min-width: 1200px) {
        .homepage .services-section .services-help .dropdown-container {
          flex-direction: row; }
          .homepage .services-section .services-help .dropdown-container .header {
            margin-bottom: 0; }
          .homepage .services-section .services-help .dropdown-container .dropdown {
            min-height: 0; } }
  .homepage .services-section .services-capabilities {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap; }
    .homepage .services-section .services-capabilities .capability {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      border-radius: 4px;
      cursor: pointer;
      margin: 1em;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      color: #FFFFFF;
      padding: 1em;
      flex-basis: 100%;
      flex-direction: column;
      justify-content: space-evenly; }
      .homepage .services-section .services-capabilities .capability h3 {
        font-size: 1.4em;
        text-align: center; }
      .homepage .services-section .services-capabilities .capability p {
        color: #FFFFFF; }
      .homepage .services-section .services-capabilities .capability .img-holder {
        text-align: center;
        margin-bottom: 1em; }
      .homepage .services-section .services-capabilities .capability .btn-holder {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 2;
        text-align: center; }
        .homepage .services-section .services-capabilities .capability .btn-holder .capability-btn {
          transition: 0.1s linear;
          -moz-transition: 0.1s linear;
          -webkit-transition: 0.1s linear;
          -o-transition: 0.1s linear;
          color: #FFFFFF;
          display: inline-block;
          font-size: 1.2em;
          font-weight: 700;
          padding: .75em 2em;
          border: 3px solid #FFFFFF;
          border-radius: 4px;
          margin: 0 auto; }
          .homepage .services-section .services-capabilities .capability .btn-holder .capability-btn:hover {
            background-color: #FFFFFF;
            color: #A89E00; }
      .homepage .services-section .services-capabilities .capability.sc {
        background-color: #A89E00; }
        .homepage .services-section .services-capabilities .capability.sc .capability-btn:hover {
          color: #A89E00; }
      .homepage .services-section .services-capabilities .capability.do {
        background-color: #4C4517; }
        .homepage .services-section .services-capabilities .capability.do .capability-btn:hover {
          color: #4C4517; }
      .homepage .services-section .services-capabilities .capability.tel {
        background-color: #7FADC2; }
        .homepage .services-section .services-capabilities .capability.tel .capability-btn:hover {
          color: #7FADC2; }
      .homepage .services-section .services-capabilities .capability.ma {
        background-color: #4C779C; }
        .homepage .services-section .services-capabilities .capability.ma .capability-btn:hover {
          color: #4C779C; }
      .homepage .services-section .services-capabilities .capability.cc {
        background-color: #F9A718; }
        .homepage .services-section .services-capabilities .capability.cc .capability-btn:hover {
          color: #F9A718; }
      .homepage .services-section .services-capabilities .capability:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
      @media (min-width: 576px) {
        .homepage .services-section .services-capabilities .capability {
          flex-basis: 70%; } }
      @media (min-width: 815px) {
        .homepage .services-section .services-capabilities .capability {
          flex-basis: 300px; } }
    @media (min-width: 1500px) {
      .homepage .services-section .services-capabilities {
        flex-wrap: nowrap; } }
.homepage .contact-section {
  background-color: rgba(76, 69, 23, 0.1); }
  .homepage .contact-section .contact-content {
    padding-top: 6vh;
    padding-bottom: 6vh; }
    .homepage .contact-section .contact-content h2 {
      display: inline-block;
      border-bottom: 3px solid #C66005; }
    .homepage .contact-section .contact-content .contact-arrow {
      height: 100%;
      opacity: 0.2;
      position: absolute; }
    .homepage .contact-section .contact-content .contact-button {
      font-size: 1.3em;
      padding: .5em 2em; }
    .homepage .contact-section .contact-content p {
      margin: 2em 0; }
    @media (min-width: 890px) {
      .homepage .contact-section .contact-content {
        padding-top: 10vh;
        padding-bottom: 10vh; } }
  @media (min-width: 890px) and (max-width: 992px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (min-width: 1125px) and (max-width: 1200px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (min-width: 1310px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-position: left;
      background-size: contain;
      background-repeat: no-repeat; } }
  @media (min-width: 1550px) {
    .homepage .contact-section {
      background-image: url("/images/contact-arrow.svg");
      background-position: left;
      background-size: cover;
      background-repeat: no-repeat; } }

.service-page .page-body {
  background-color: #FFFFFF;
  padding: 5vh 0; }
  .service-page .page-body .body-content h2 {
    border-bottom: 3px solid #C66005;
    display: inline-block; }
  .service-page .page-body .body-content p {
    line-height: 1.5em; }
  .service-page .page-body .body-content ul {
    list-style: none;
    padding-left: 5%; }
    .service-page .page-body .body-content ul li {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-content: center;
      line-height: 1.5em;
      padding: .5em 0; }
    .service-page .page-body .body-content ul img {
      height: 1.5em;
      margin-right: 0.2em; }
.service-page .featured-content-section {
  background-color: #e9e8e2;
  padding: 3em 0;
  margin-top: 0; }
  .service-page .featured-content-section .fc {
    border-bottom: 1px solid rgba(76, 69, 23, 0.1); }
    .service-page .featured-content-section .fc:last-child {
      border-bottom: none; }
    @media (min-width: 768px) {
      .service-page .featured-content-section .fc {
        width: 33%;
        border-bottom: none;
        border-right: 1px solid rgba(76, 69, 23, 0.1); } }

.resources-page .header-image {
  background-image: url("http://via.placeholder.com/1000x1000");
  background-size: cover;
  background-position: 50% 50%;
  height: 40%;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: -1; }
.resources-page .header-content-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: stretch;
  height: 40vh; }
  .resources-page .header-content-container .header-content {
    margin-top: 80px;
    padding: 2%;
    width: 100%; }
    .resources-page .header-content-container .header-content .header-border {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      border: 3px solid #FFFFFF;
      border-radius: 4px;
      height: 100%;
      align-items: center;
      justify-content: center; }
      .resources-page .header-content-container .header-content .header-border .inner-content {
        color: #FFFFFF;
        padding: 2em; }
        .resources-page .header-content-container .header-content .header-border .inner-content h1 {
          width: 90%;
          margin: 0 auto;
          font-family: 'lato', sans-serif; }
          @media (min-width: 768px) {
            .resources-page .header-content-container .header-content .header-border .inner-content h1 {
              width: 60%; } }
.resources-page .resources {
  background-color: #FFFFFF; }
  .resources-page .resources .resources-filters {
    background-color: #FFFFFF;
    text-align: right;
    padding-top: 1.5em; }
    .resources-page .resources .resources-filters .filter-dropdown {
      transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -webkit-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      max-height: 35px;
      overflow: hidden;
      border: 1px solid #DEE3E5;
      border-radius: 4px;
      display: inline-block;
      position: absolute;
      right: 15px;
      background-color: #FFFFFF;
      z-index: 9; }
      .resources-page .resources .resources-filters .filter-dropdown a {
        text-decoration: none;
        color: #404040; }
      .resources-page .resources .resources-filters .filter-dropdown svg {
        height: 12px; }
        .resources-page .resources .resources-filters .filter-dropdown svg path {
          fill: #75702B; }
      .resources-page .resources .resources-filters .filter-dropdown .selected-filter {
        padding: 0.5em;
        cursor: pointer;
        border-bottom: 1px solid #DEE3E5; }
      .resources-page .resources .resources-filters .filter-dropdown .filter {
        transition: 0.1s linear;
        -moz-transition: 0.1s linear;
        -webkit-transition: 0.1s linear;
        -o-transition: 0.1s linear;
        padding: .5em 1em;
        color: #404040; }
        .resources-page .resources .resources-filters .filter-dropdown .filter:hover {
          background-color: rgba(76, 69, 23, 0.1); }
      .resources-page .resources .resources-filters .filter-dropdown:hover {
        max-height: 300px; }
        .resources-page .resources .resources-filters .filter-dropdown:hover .selected-filter {
          border-bottom: 1px solid #DEE3E5; }
          .resources-page .resources .resources-filters .filter-dropdown:hover .selected-filter svg {
            transform: rotate(180deg);
            -moz-transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
            -o-transform: rotate(180deg); }
      @media (min-width: 768px) {
        .resources-page .resources .resources-filters .filter-dropdown {
          right: 0; } }
  .resources-page .resources .resources-container .resources-content {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #FFFFFF;
    padding-top: 2em; }
    .resources-page .resources .resources-container .resources-content .resource {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      border-bottom: 1px solid #DEE3E5;
      padding: 1em 0 2em 0;
      align-items: end; }
      .resources-page .resources .resources-container .resources-content .resource:last-child {
        border-bottom: none; }

.about-page .page-body {
  background-color: #FFFFFF;
  padding: 3em 0; }
  .about-page .page-body .body-content h2 {
    border-bottom: 3px solid #C66005;
    display: inline-block; }
  .about-page .page-body .body-content p {
    margin: 0;
    line-height: 1.5em; }
  .about-page .page-body .body-content ul {
    list-style: none; }
    .about-page .page-body .body-content ul li {
      line-height: 1.5em;
      padding: .5em 0; }
    .about-page .page-body .body-content ul img {
      position: relative;
      top: .4em;
      height: 1.5em;
      margin-right: 0.2em; }
  .about-page .page-body .body-content .client-section .quote-container {
    border-radius: 4px;
    background-color: rgba(76, 69, 23, 0.1);
    padding: 3%;
    margin-top: 3vh;
    margin-bottom: 3vh; }
    .about-page .page-body .body-content .client-section .quote-container .quote {
      transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -webkit-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      opacity: 1;
      min-height: 6em; }
      .about-page .page-body .body-content .client-section .quote-container .quote p {
        line-height: 2em; }
      .about-page .page-body .body-content .client-section .quote-container .quote.hidden {
        opacity: 0; }
      .about-page .page-body .body-content .client-section .quote-container .quote .quote-mark {
        width: 20px;
        position: relative;
        bottom: 2px;
        padding: .2em; }
        .about-page .page-body .body-content .client-section .quote-container .quote .quote-mark img {
          width: 20px; }
        .about-page .page-body .body-content .client-section .quote-container .quote .quote-mark.end {
          transform: rotate(180deg);
          bottom: 2px; }
    .about-page .page-body .body-content .client-section .quote-container .client-info {
      transition: 0.2s linear;
      -moz-transition: 0.2s linear;
      -webkit-transition: 0.2s linear;
      -o-transition: 0.2s linear;
      margin-top: 1em;
      text-align: right;
      opacity: 1; }
      .about-page .page-body .body-content .client-section .quote-container .client-info .client-name {
        font-size: 1.2em; }
        .about-page .page-body .body-content .client-section .quote-container .client-info .client-name .mdash {
          font-weight: 700;
          color: #C66005; }
      .about-page .page-body .body-content .client-section .quote-container .client-info.hidden {
        opacity: 0; }
    .about-page .page-body .body-content .client-section .quote-container .controls {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 1em; }
      .about-page .page-body .body-content .client-section .quote-container .controls .dot {
        transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -webkit-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        height: .75em;
        width: .75em;
        border-radius: 50%;
        background-color: #4C4517;
        opacity: .20;
        margin: .2em; }
        .about-page .page-body .body-content .client-section .quote-container .controls .dot.active {
          background-color: #C66005;
          opacity: 1; }
      .about-page .page-body .body-content .client-section .quote-container .controls img {
        height: 100%;
        position: relative;
        top: 2px; }
      .about-page .page-body .body-content .client-section .quote-container .controls .arrow {
        border-radius: 4px;
        cursor: pointer;
        padding: .1em; }
        .about-page .page-body .body-content .client-section .quote-container .controls .arrow:hover {
          background-color: rgba(76, 69, 23, 0.1); }
  .about-page .page-body .body-content .client-section .logo-container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0 -15px; }
    .about-page .page-body .body-content .client-section .logo-container .client-logo {
      margin: 15px; }
  .about-page .page-body .body-content.team-section {
    background-color: #e9e8e2;
    margin-top: 5vh; }
    .about-page .page-body .body-content.team-section .executive-team {
      background-color: rgba(76, 69, 23, 0.1);
      padding: 2em 0;
      text-align: center; }
      .about-page .page-body .body-content.team-section .executive-team h2 {
        margin-bottom: 0.5em;
        text-align: center; }
    .about-page .page-body .body-content.team-section .team {
      padding: 1em 0; }
    .about-page .page-body .body-content.team-section .team-member-holder {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin: 0 -15px; }
    .about-page .page-body .body-content.team-section .team-member {
      border-radius: 4px;
      transition: 0.1s linear;
      -moz-transition: 0.1s linear;
      -webkit-transition: 0.1s linear;
      -o-transition: 0.1s linear;
      flex: 1 1 250px;
      margin: 1em 15px;
      max-width: 262px;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      overflow: hidden;
      cursor: pointer;
      background-color: #FFFFFF;
      text-align: left;
      border-bottom: 5px solid #FFFFFF; }
      .about-page .page-body .body-content.team-section .team-member .team-photo img {
        width: 100%; }
      .about-page .page-body .body-content.team-section .team-member .team-info {
        padding: .5em; }
        .about-page .page-body .body-content.team-section .team-member .team-info .team-name {
          font-size: 1.3em;
          font-weight: lighter; }
      .about-page .page-body .body-content.team-section .team-member.active {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08);
        border-bottom: 5px solid #4C4517; }
      .about-page .page-body .body-content.team-section .team-member:hover {
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
    .about-page .page-body .body-content.team-section .divider {
      max-height: 0;
      width: 0;
      overflow: hidden;
      will-change: transform; }
      .about-page .page-body .body-content.team-section .divider.dividing {
        transition: max-height 0.5s linear, opacity 0.5s linear;
        -moz-transition: max-height 0.5s linear, opacity 0.5s linear;
        -webkit-transition: max-height 0.5s linear, opacity 0.5s linear;
        -o-transition: max-height 0.5s  linear, opacity 0.5s  linear;
        max-height: 0;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        opacity: 0; }
        .about-page .page-body .body-content.team-section .divider.dividing.visible {
          padding-bottom: 15px;
          max-height: 500px;
          opacity: 1; }
        .about-page .page-body .body-content.team-section .divider.dividing .text {
          transition: 0.2s ease-in-out;
          -moz-transition: 0.2s ease-in-out;
          -webkit-transition: 0.2s ease-in-out;
          -o-transition: 0.2s ease-in-out;
          border-radius: 4px;
          padding: 1em;
          background-color: #FFFFFF;
          color: #FFFFFF;
          min-height: 100px;
          box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.2), 0 0 0 1px rgba(0, 0, 0, 0.08); }
          .about-page .page-body .body-content.team-section .divider.dividing .text.visible {
            color: #404040; }
    @media (min-width: 992px) {
      .about-page .page-body .body-content.team-section .executive-team {
        text-align: left; }
        .about-page .page-body .body-content.team-section .executive-team .team-member {
          max-width: 350px; }
        .about-page .page-body .body-content.team-section .executive-team .team-member-holder {
          justify-content: space-between; } }
  .about-page .page-body .body-content.building-section h2 {
    margin: 1em 0; }
  .about-page .page-body .body-content.building-section p {
    margin-bottom: 1em; }
  .about-page .page-body .body-content.building-section .building-history {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    align-items: center; }
    .about-page .page-body .body-content.building-section .building-history .history-text {
      border-radius: 4px; }
    .about-page .page-body .body-content.building-section .building-history .history-images {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      border-radius: 4px;
      flex-direction: row;
      flex-wrap: wrap;
      min-width: 300px;
      width: 100%;
      justify-content: space-evenly;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
      text-align: center;
      margin-right: 1em; }
      .about-page .page-body .body-content.building-section .building-history .history-images .image-block {
        flex: 1 1 300px;
        max-width: 300px;
        margin: 1em; }
      .about-page .page-body .body-content.building-section .building-history .history-images img {
        border-radius: 4px;
        width: 100%; }
      .about-page .page-body .body-content.building-section .building-history .history-images .image-caption {
        border-radius: 4px;
        background-color: rgba(76, 69, 23, 0.1);
        padding: 1em; }
    @media (min-width: 992px) {
      .about-page .page-body .body-content.building-section .building-history {
        flex-direction: row-reverse;
        align-items: flex-start; }
        .about-page .page-body .body-content.building-section .building-history .history-text {
          background-color: rgba(76, 69, 23, 0.1);
          padding: 1em; }
        .about-page .page-body .body-content.building-section .building-history .history-images {
          margin-right: 1em;
          flex-direction: column;
          padding: 0 15px; }
          .about-page .page-body .body-content.building-section .building-history .history-images .image-block {
            flex-basis: 0;
            margin: 15px 0;
            width: 100%; } }

/*# sourceMappingURL=site.css.map */
